body{
	scroll-behavior: smooth;
}
.top{
	background-image: url("/img/Header1.png");
	background-repeat: no-repeat;
	background-size: cover;
	height: 800px;
	width: 100%;
	background-position: cover;
	position: absolute;
	}
	
.logo{
	margin-top: 10px;
	padding-left: 50px;
	float: left;
}

.ham{
	margin-top: 20px;
	float: right;
	fill: white;
	margin-right: 10px;

}
.header{
	position: relative;
    top:300px;
    color: white;
}
.para{
	position: relative;
	
	top:500px;
	background-color:#E0E0E0;
	height: 200px;
	border:2px solid transparent;
	border-radius: 5px; 
	font-size: 16px;
	box-shadow: 5px 10px 10px #303030;
}
 
.img1 img{
	float: left;
	position: absolute;
	top: 600px;
	box-shadow: 5px 10px 10px #303030;
	border:0px solid transparent;
	border-radius: 5px;
	left: 100px;
	}
.exp1{
	float: left;
	position: absolute;
	top: 900px;
	left:600px;
	box-shadow: 5px 10px 10px #303030;
	border:2px solid transparent;
	border-radius: 5px;
	background-color:#E0E0E0;
	width: 100%;
}
.img2 img{
	float: left;
	position: absolute;
	top: 1000px;
	box-shadow: 5px 10px 10px #303030;
	border:0px solid transparent;
	border-radius: 5px;
	left: 420px;
	}
.exp2{
	float: left;
	position: absolute;
	top: 1300px;
	left:70px;
	box-shadow: 5px 10px 10px #303030;
	border:2px solid transparent;
	border-radius: 5px;
	background-color:#E0E0E0;
	width: 100%;
}
.img3 img{
	float: left;
	position: absolute;
	top: 1600px;
	box-shadow: 5px 10px 10px #303030;
	border:0px solid transparent;
	border-radius: 5px;
	left: 100px;
	}
.exp3{
	float: left;
	position: absolute;
	top: 1900px;
	left:600px;
	box-shadow: 5px 10px 10px #303030;
	border:2px solid transparent;
	border-radius: 5px;
	background-color:#E0E0E0;
	width: 100%;
}
.img4 img{
	float: left;
	position: absolute;
	top: 2100px;
	box-shadow: 5px 10px 10px #303030;
	border:0px solid transparent;
	border-radius: 5px;
	left: 420px;
	}
.exp4{
	float: left;
	position: absolute;
	top: 2300px;
	left:70px;
	box-shadow: 5px 10px 10px #303030;
	border:2px solid transparent;
	border-radius: 5px;
	background-color:#E0E0E0;
	width: 100%;
}
.com{
	position: relative;
	top:2500px;
}

