<!DOCTYPE html>-
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Jetsave Travelogues: Dreams Become Reality When You Travel</title>
    <!-- Bootstrap CSS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

  
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/jetsavecss.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/navbar.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/popup.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/loader.css">


    <script src="./assets/js/hideshow.js"></script>
    <link rel="stylesheet" type="text/css" media="(max-width: 600px)" href="./assets/css/jetsave-tablet.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

</head>




<div class="col-3 sidebar" style="color: black; height: 100%; box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22); padding: 2%;">
    <h3 style="margin-left: 22%;">More Blogs</h3>
                    <ul>
                          <a href="beautiful-resorts-in-maldives"><li> <img class="image-blog" src="http://creativejian.com/wp-content/uploads/2018/07/anantara-veli-main.jpg">&nbsp;&nbsp;&nbsp;&nbsp;Beautiful resorts in maldives</li></a>
                            <a href="best-cafes-and-restaurants-in-goa"><li><img class="image-blog" src="https://i0.wp.com/www.curiouskeeda.com/wp-content/uploads/2019/12/best-restaurants-cafes-in-goa.png?resize=632%2C420&ssl=1">&nbsp;&nbsp;&nbsp;&nbsp;Cafe & Restaurant of Goa</li></a>
                            <a href="do-we-really-need-travel-insurance"><li><img class="image-blog" src="https://i0.wp.com/www.curiouskeeda.com/wp-content/uploads/2019/05/curiouskeeda1.jpg?resize=640%2C360&ssl=1">&nbsp;&nbsp;&nbsp;&nbsp;Need for Travel Insurance</li></a>
                            <a href="effective-budget-friendly-tips-to-follow"><li><img class="image-blog" src="https://i0.wp.com/www.curiouskeeda.com/wp-content/uploads/2019/07/Curious-Keeda-Travel-banner.jpg?resize=608%2C420&ssl=1">&nbsp;&nbsp;&nbsp;&nbsp;Budget Friendly Travel Tips</li></a>
                            <a href="get-the-most-out-of-italy-by-visiting-these-amazing-places"><li><img class="image-blog" src="https://i0.wp.com/www.curiouskeeda.com/wp-content/uploads/2019/05/curiouskeeda7-1.jpg?w=620&ssl=1">&nbsp;&nbsp;&nbsp;&nbsp;Signtseeing peace in Italy</li></a>
                            <a href="list-of-things-to-do-in-fun-european-cities-of-amsterdam-berlin-prague-budapest"><li><img class="image-blog" src="/image/collagess/Amsterdam-berlin-prague-and-budapest.jpg">&nbsp;&nbsp;&nbsp;&nbsp;Scintinating Europe</li></a>
                            <a href="most-exotic-and-highly-enjoyable-destinations-to-visit-this-summer"><li><img class="image-blog" src="https://i1.wp.com/www.curiouskeeda.com/wp-content/uploads/2019/04/curiouskeeda1-1.jpeg?resize=630%2C420&ssl=1">&nbsp;&nbsp;&nbsp;&nbsp;Exotic Summer Distinations</li></a>
                            <a href="must-see-places-in-india-once-in-your-lifetime"><li><img class="image-blog" src="https://i0.wp.com/www.curiouskeeda.com/wp-content/uploads/2019/04/curiouskeeda.jpg?resize=640%2C335&ssl=1">&nbsp;&nbsp;&nbsp;&nbsp;Experience India</li></a>
                            <a href="perks-of-tour-packages-plan-your-trip-now"><li><img class="image-blog" src="https://i1.wp.com/www.curiouskeeda.com/wp-content/uploads/2019/06/curiouskeeda1-2.jpg?fit=3200%2C1680&ssl=1">&nbsp;&nbsp;&nbsp;&nbsp;Perks of Tours Packages</li></a>
                            <a href="romantic-places-for-honeymoon-in-greece"><li><img class="image-blog" src="https://i1.wp.com/www.curiouskeeda.com/wp-content/uploads/2019/12/romantic-honeymoon-greece-curiouskeeda.jpg?resize=640%2C415&ssl=1">&nbsp;&nbsp;&nbsp;&nbsp;Honeymoon in Greece</li></a>
                            <a href="things-to-do-in-bali-with-friends"><li><img class="image-blog" src="https://i0.wp.com/www.curiouskeeda.com/wp-content/uploads/2019/12/bali-indonesia-jetsave-curiouskeeda.jpg?zoom=0.9375&fit=1920%2C800&ssl=1">&nbsp;&nbsp;&nbsp;&nbsp;Bali pleasure with Friends</li></a>
                            <a href="things-to-do-in-toronto"><li><img class="image-blog" src="https://i0.wp.com/www.curiouskeeda.com/wp-content/uploads/2019/08/Curiouskeeda-Toronto-banner-1.jpg?resize=640%2C361&ssl=1">&nbsp;&nbsp;&nbsp;&nbsp;Things to do in toronto</li></a>
                            <a href="tips-to-travel-like-a-pro"><li><img class="image-blog" src="https://i0.wp.com/www.curiouskeeda.com/wp-content/uploads/2019/08/tips-for-traveling-smart-1.jpg?resize=640%2C539&ssl=1">&nbsp;&nbsp;&nbsp;&nbsp;Tips to travel like a pro</li></a>
                            <a href="travel-tips-to-make-your-first-international-trip-smooth"><li><img class="image-blog" src="https://i0.wp.com/www.curiouskeeda.com/wp-content/uploads/2019/12/International-Travel-Tips.jpg?resize=640%2C320&ssl=1">&nbsp;&nbsp;&nbsp;&nbsp;International Trvael Tips</li></a>
                            <a href="vacation-on-budget"><li><img class="image-blog" src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/honeymoon-destinations-1527740955.jpg">&nbsp;&nbsp;&nbsp;&nbsp;Vacation on budget</li></a>
                            <a href="why-is-visa-so-important"><li><img class="image-blog" src="https://i2.wp.com/www.curiouskeeda.com/wp-content/uploads/2019/07/curiouskeeda1-9.jpg?resize=631%2C420&ssl=1">&nbsp;&nbsp;&nbsp;&nbsp;Why is visa so Important?</li></a>
                    </ul>
</div>
</div>

</html>