            .body{
	font-family:  Roboto, 'Segoe UI', Tahoma, sans-serif;
	
}
.svgone{
	fill: #E8E8E8;
	float: left;
	margin-top: 50px;
	left: 0px;
	margin-left: -50px;
	position: fixed;
	z-index: -1;
}
.svgtwo{
	fill :#E8E8E8;
	float: right;
	margin-top: 0px;
	position: fixed;
	margin: 0px;
	top: -50px;
	right: 0px;
	z-index: -1;
}
.svgi{
	fill:white;
}

.logo{
	margin-top: 50px;
	margin-left: 50px;
	float: left;
}
.menu{
	margin-top: 100px;
margin-left: 1000px;
	float: right;
}

.header-activity{
	margin-top: 10px;
}
.header-activity h4{
	font-size: 30px;
}
.header-activity h1 {
    font-size: 72px;
    margin-top: 20px;
    color: black;
    margin-left: -16%;
}
.header-activity ul{
	display: inline-block;
	list-style: none;
	margin-left: 120px;
	margin-top: 18px;
	margin-bottom: 32px;
}
.header-activity li{
	display: inline-block;
	border-radius: 50px;
	background-color: #000000;
	height: 80px;
	width: 80px;
	padding-top: 10px;
	padding-left: 10px;
	margin: 20px;
}
.hiking h1{
	
}
.content{
	margin-top: 100px;
}

.hiking .image{
	float: left;
	width: 50%;
	margin-top: 32px;
	background-image: url(/img/Themed%20Activities%20Page%20Images.png);
	background-size: cover;
	background-repeat: no-repeat;
}
.hiking .text{
	float: right;
	width: 50%;
	text-align: left;
	margin-top: 64px;
		
}
.hiking button{
	margin-top: 60px;
	height: 50px;
	width: 250px;
	border-radius:10px;
	border: 2px solid red;
	background-color: red;
	margin-bottom: 32px; 
	color: white;
	font-size: 20px;
	fill: white;
}

.hiking .image1{
	float:right;
	width: 50%;
	margin-top: 32px;
	background-image: url(/img/Themed%20Activities%20Page%20Images.png);
	background-size: cover;
	background-repeat: no-repeat;
}
.hiking .text1{
	float:left;
	width: 60%;
	text-align: left;
	margin-top: 64px;
}
		.open {
			float: right;
			height: 30px;
			widows: 30px;
			position: fixed;
			top: 45px;
			right: -140px;
			fill: black;
		}


/*Foooter section*/