<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Jetsave: Dreams Become Reality When You Travel</title>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="./assets/css/jetsave.css">
	<link rel="stylesheet" type="text/css" href="./assets/css/mobile.css">
	<link rel="stylesheet" type="text/css" href="./assets/css/popup.css">
	<link rel="stylesheet" type="text/css" href="./assets/css/loader.css">
	<script src="./assets/js/load.js"></script>
	<script src="./assets/js/countries.js"></script>
	<link rel="stylesheet" type="text/css" media="(max-width: 600px)" href="./assets/css/jetsave-tablet.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
		integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Patua+One&display=swap" rel="stylesheet">


	<script>

		$(window).on("load", function () {
			$(".loadersmrt").fadeOut("slow");
		});

	</script>

</head>

<body>
	<div class="loadersmrt">
		<svg class="svg-calLoadersmrt" xmlns="http://www.w3.org/2000/svg" width="230" height="230">
			<path class="cal-loader__pathsmrt"
				d="M86.429 40c63.616-20.04 101.511 25.08 107.265 61.93 6.487 41.54-18.593 76.99-50.6 87.643-59.46 19.791-101.262-23.577-107.142-62.616C29.398 83.441 59.945 48.343 86.43 40z"
				fill="none" stroke="#0099cc" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"
				stroke-dasharray="10 10 10 10 10 10 10 432" stroke-dashoffset="77" />
			<path class="cal-loader__planesmrt"
				d="M141.493 37.93c-1.087-.927-2.942-2.002-4.32-2.501-2.259-.824-3.252-.955-9.293-1.172-4.017-.146-5.197-.23-5.47-.37-.766-.407-1.526-1.448-7.114-9.773-4.8-7.145-5.344-7.914-6.327-8.976-1.214-1.306-1.396-1.378-3.79-1.473-1.036-.04-2-.043-2.153-.002-.353.1-.87.586-1 .952-.139.399-.076.71.431 2.22.241.72 1.029 3.386 1.742 5.918 1.644 5.844 2.378 8.343 2.863 9.705.206.601.33 1.1.275 1.125-.24.097-10.56 1.066-11.014 1.032a3.532 3.532 0 0 1-1.002-.276l-.487-.246-2.044-2.613c-2.234-2.87-2.228-2.864-3.35-3.309-.717-.287-2.82-.386-3.276-.163-.457.237-.727.644-.737 1.152-.018.39.167.805 1.916 4.373 1.06 2.166 1.964 4.083 1.998 4.27.04.179.004.521-.076.75-.093.228-1.109 2.064-2.269 4.088-1.921 3.34-2.11 3.711-2.123 4.107-.008.25.061.557.168.725.328.512.72.644 1.966.676 1.32.029 2.352-.236 3.05-.762.222-.171 1.275-1.313 2.412-2.611 1.918-2.185 2.048-2.32 2.45-2.505.241-.111.601-.232.82-.271.267-.058 2.213.201 5.912.8 3.036.48 5.525.894 5.518.914 0 .026-.121.306-.27.638-.54 1.198-1.515 3.842-3.35 9.021-1.029 2.913-2.107 5.897-2.4 6.62-.703 1.748-.725 1.833-.594 2.286.137.46.45.833.872 1.012.41.177 3.823.24 4.37.085.852-.25 1.44-.688 2.312-1.724 1.166-1.39 3.169-3.948 6.771-8.661 5.8-7.583 6.561-8.49 7.387-8.702.233-.065 2.828-.056 5.784.011 5.827.138 6.64.09 8.62-.5 2.24-.67 4.035-1.65 5.517-3.016 1.136-1.054 1.135-1.014.207-1.962-.357-.38-.767-.777-.902-.893z"
				class="cal-loader__plane" fill="#000033" /></svg>
	</div>



	<div class="main-container full-width">
		<div class="top">
		</div>
		<header class="headersmall">
			<input class="menu-btn" type="checkbox" id="menu-btn" />
			<img src="./assets/img/logo.png" style="    height: 166%;
			width: 36%;
			margin-top: -6%;">
			<label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
			<ul class="menu">
				<li><a href="/our-destination">Our Destinations</a></li>
				<li><a href="/our-themed-packages">Our Themed Activities</a></li>
				<!-- <li><a href="/destination">Explore Itineraries</a></li> -->
				<li><a href="/travelogue-guest">All Travel Blog</a></li>
				<li><a href="/my-profile">Jet-setter Travelogue</a></li>
				<li><a href="/about-jetsave">About Jetsave</a></li>
				<li><a href="/login">login</a></li>

			</ul>
		</header>
		<!-- Header and menu -->

		<section id="header" class="on-top">

			<!-- Hero Slider -->
			<div id="carouselslider" class="container-fluid full-width">
				<div class="row full-width">
					<span id="carousel0" class="carousel-container full-width">
						<div id="carousel-hero" class="carousel slide" data-ride="carousel">
							<ol class="carousel-indicators topindicator">
								<li data-target="#carousel-hero" data-slide-to="0" class="active"></li>
								<li data-target="#carousel-hero" data-slide-to="1"></li>
								<li data-target="#carousel-hero" data-slide-to="2"></li>
							</ol>
							<div class="carousel-inner">
								<div class="carousel-item active full-width">
									<img src="/image/Home-Page/Home-Page-Header-Image.jpg" class="full-width" alt="">
									<div id="hero-text" class="textpad full-width hero-text1 text-center">
										<span class="full-width">
											<h3 class="tophead text-center" style="margin-top: 10px !important">
												New<br>Fresh<br>Luxe<br>Tranquil
											</h3>
											<h1 class="bottomhead white" style="font-size: 2.5rem;">
												The ultimate address of calm breathed deep into the soul,<br> sprinkled
												with notes of Jetsave
										</span>
									</div>
								</div>
								<div class="carousel-item full-width">
									<img src="/image/Home-Page/sydney2.jpg" class="full-width" alt="">
									<div id="hero-text" class="textpad full-width  hero-text1 text-center">
										<span class="full-width">
											<h3 class="tophead text-center" style="margin-bottom: 0px !important">
												Travel with Ease

											</h3>
											<h1 class="bottomhead white" style="font-size: 2.5rem;">
												With our unmatched stability, confidence, and attention to detail
											</h1>
										</span>
									</div>
								</div>
								<div class="carousel-item full-width">
									<img src="/image/Home-Page/Jetsave.jpg" class="full-width" alt="">
									<div id="hero-text" class="textpad full-width  hero-text1 text-center">
										<span class="full-width">
											<h3 class="tophead text-center" style="margin-bottom: 0px !important">
												Startling Experience
											</h3>
											<h1 class="bottomhead white" style="font-size: 2.5rem;">
												Of travelling with the experts
											</h1>
										</span>
									</div>
								</div>
							</div>
						</div>
					</span>
				</div>
			</div>

			<!-- Top nav bar -->
			<div class="container-fluid full-width header on-top">
				<div class="header-wrapper on-top">
					<div id="logo" class="d-inline-flex on-top">
						<svg id=logosvg xmlns="http://www.w3.org/2000/svg" width="150" height="150"
							viewBox="0 0 400 400" class="on-top"><a href="/" class="nopad nomar">
								<g class="svglogo on-top">
									<g>
										<path d="M52.839,282.828h1.649v22.211h-1.649V282.828z" />
										<path d="M60.963,288.856h1.555v3.015c1.079-1.903,2.887-3.395,5.838-3.395c4.094,0,6.474,2.792,6.474,6.663v9.899
										h-1.555v-9.614c0-3.331-1.873-5.521-5.141-5.521c-3.173,0-5.616,2.41-5.616,5.774v9.36h-1.555V288.856z" />
										<path d="M79.37,297.012v-0.063c0-5.268,3.966-8.472,7.869-8.472c3.237,0,5.331,1.84,6.664,3.87v-10.471h1.555
										v23.163h-1.555v-3.617c-1.396,2.126-3.458,3.999-6.664,3.999C83.336,305.421,79.37,302.279,79.37,297.012z M93.998,296.979v-0.063
										c0-4.156-3.236-6.948-6.6-6.948c-3.522,0-6.347,2.57-6.347,6.917v0.063c0,4.252,2.951,6.981,6.347,6.981
										C90.762,303.93,93.998,301.105,93.998,296.979z" />
										<path
											d="M101.395,282.511h1.936v2.126h-1.936V282.511z M101.585,288.856h1.555v16.183h-1.555V288.856z" />
										<path
											d="M107.933,300.344v-0.064c0-3.363,2.887-5.267,7.076-5.267c2.253,0,3.808,0.285,5.363,0.698v-0.698
										c0-3.268-1.999-4.95-5.331-4.95c-1.968,0-3.586,0.54-5.077,1.301l-0.571-1.364c1.777-0.825,3.522-1.396,5.744-1.396
										c2.189,0,3.935,0.603,5.109,1.777c1.079,1.079,1.65,2.57,1.65,4.569v10.09h-1.523v-2.696c-1.111,1.554-3.11,3.078-6.188,3.078
										C111.169,305.421,107.933,303.707,107.933,300.344z M120.403,298.979v-1.841c-1.364-0.349-3.173-0.73-5.489-0.73
										c-3.427,0-5.331,1.523-5.331,3.776v0.063c0,2.349,2.221,3.713,4.696,3.713C117.579,303.961,120.403,301.93,120.403,298.979z" />
										<path
											d="M143.507,284.351h-7.742v-1.522H152.9v1.522h-7.743v20.688h-1.65V284.351z" />
										<path d="M152.173,297.012v-0.063c0-4.538,3.522-8.472,8.346-8.472c4.791,0,8.282,3.87,8.282,8.408v0.063
										c0,4.538-3.522,8.473-8.346,8.473C155.664,305.421,152.173,301.549,152.173,297.012z M167.119,297.012v-0.063
										c0-3.903-2.919-7.013-6.664-7.013c-3.84,0-6.6,3.142-6.6,6.949v0.063c0,3.903,2.919,7.013,6.664,7.013
										C164.358,303.961,167.119,300.819,167.119,297.012z" />
										<path
											d="M173.278,298.757v-9.9h1.555v9.615c0,3.332,1.872,5.521,5.14,5.521c3.174,0,5.617-2.411,5.617-5.774
										v-9.361h1.555v16.183h-1.555v-3.014c-1.079,1.904-2.888,3.396-5.839,3.396C175.658,305.421,173.278,302.629,173.278,298.757z" />
										<path d="M193.05,288.856h1.555v4.601c1.27-2.888,3.966-4.98,7.171-4.854v1.714h-0.158
										c-3.745,0-7.013,2.823-7.013,8.092v6.631h-1.555V288.856z" />
										<path d="M204.348,303.009l0.921-1.237c1.776,1.365,3.744,2.125,5.807,2.125c2.189,0,3.902-1.205,3.902-3.077
										v-0.063c0-1.903-2.031-2.602-4.283-3.236c-2.634-0.762-5.553-1.556-5.553-4.442v-0.063c0-2.602,2.189-4.475,5.33-4.475
										c1.937,0,4.125,0.698,5.744,1.777l-0.825,1.301c-1.491-0.983-3.269-1.618-4.982-1.618c-2.221,0-3.68,1.206-3.68,2.824v0.063
										c0,1.809,2.189,2.476,4.506,3.142c2.602,0.729,5.33,1.682,5.33,4.537v0.063c0,2.888-2.476,4.728-5.585,4.728
										C208.632,305.356,206.062,304.405,204.348,303.009z" />
										<path
											d="M231.387,282.828h8.061c4.886,0,8.25,2.507,8.25,6.791v0.062c0,4.665-4.03,7.077-8.663,7.077h-5.997v8.281
										h-1.65V282.828z M239.13,295.234c4.125,0,6.917-2.157,6.917-5.458v-0.063c0-3.522-2.729-5.363-6.728-5.363h-6.282v10.884H239.13z" />
										<path
											d="M250.904,288.856h1.809l6.125,14.438l6.188-14.438h1.744l-7.266,16.311h-1.333L250.904,288.856z" />
										<path d="M271.882,300.883v-10.598h-2.348v-1.429h2.348v-5.172h1.556v5.172h5.68v1.429h-5.68v10.439
										c0,2.316,1.364,3.141,3.235,3.141c0.794,0,1.46-0.158,2.381-0.571v1.46c-0.825,0.381-1.618,0.571-2.633,0.571
										C273.913,305.325,271.882,303.961,271.882,300.883z" />
										<path d="M293.59,282.828h1.649v20.688h13.043v1.522H293.59V282.828z" />
										<path d="M313.107,300.883v-10.598h-2.348v-1.429h2.348v-5.172h1.556v5.172h5.68v1.429h-5.68v10.439
										c0,2.316,1.363,3.141,3.236,3.141c0.793,0,1.46-0.158,2.379-0.571v1.46c-0.824,0.381-1.617,0.571-2.633,0.571
										C315.138,305.325,313.107,303.961,313.107,300.883z" />
										<path d="M323.423,297.012v-0.063c0-5.268,3.966-8.472,7.87-8.472c3.235,0,5.33,1.84,6.662,3.87v-10.471h1.556
										v23.163h-1.556v-3.617c-1.396,2.126-3.459,3.999-6.662,3.999C327.389,305.421,323.423,302.279,323.423,297.012z M338.051,296.979
										v-0.063c0-4.156-3.236-6.948-6.601-6.948c-3.521,0-6.346,2.57-6.346,6.917v0.063c0,4.252,2.95,6.981,6.346,6.981
										C334.814,303.93,338.051,301.105,338.051,296.979z" />
										<path d="M345.066,302.343h2.095v2.696h-2.095V302.343z" />
									</g>

									<g>
										<path d="M182.684,254.675h-2.93c-1.401,0-2.166-0.637-2.675-1.656l-10.191-19.745h-0.255l-7.006,19.745
									    c7.261,2.549,16.178,3.95,23.439,3.95c1.063,0,2.104-0.03,3.123-0.088l1.073-2.782
									    C185.893,254.469,184.365,254.675,182.684,254.675z" />
										<path
											d="M72.881,221.555v0.254c0,16.562,8.408,23.312,18.217,23.312c7.643,0,15.159-3.312,19.363-11.719h0.255
										c-3.313,16.051-13.249,23.567-28.153,23.567c-16.051,0-31.209-9.683-31.209-32.103c0-23.566,15.031-32.994,31.974-32.994
										c13.503,0,27.897,6.369,27.897,26.878c0,0.383,0,1.274-0.127,2.804H72.881z M72.881,219.261h18.726
										c0.127-1.655,0.127-3.312,0.127-3.821c0-16.689-3.439-21.146-8.662-21.146C76.703,194.293,73.136,200.79,72.881,219.261z" />
										<path d="M157.718,195.439H142.05v42.548c0,5.732,2.548,9.044,6.751,9.044c3.312,0,5.988-2.166,7.389-4.713
										l0.255,0.127c-1.274,7.134-6.497,14.523-18.599,14.523c-11.083,0-16.561-5.988-16.561-17.453v-44.077h-7.006v-2.547h5.732
										c2.038,0,2.675,0,3.949-1.401l17.834-20h0.255v21.401h15.668V195.439z" />
										<path d="M315.543,255.948h-14.521l-16.688-48.407c-1.019-2.93-1.528-4.458-2.676-6.751l-3.948-7.644v-0.255h31.847
										v0.255l-4.331,7.262c-0.764,1.273-0.892,1.654-0.382,3.184l12.738,38.473l9.81-28.663c0.891-2.42,0.509-2.93-0.383-4.841
										l-7.516-15.414v-0.255h21.911v0.255l-8.663,14.904c-1.528,2.548-2.165,3.44-2.93,5.732L315.543,255.948z" />
										<path
											d="M361.656,221.555v0.254c0,16.562,8.407,23.312,18.216,23.312c7.644,0,15.159-3.312,19.363-11.719h0.255
										c-3.312,16.051-13.248,23.567-28.152,23.567c-16.051,0-31.211-9.683-31.211-32.103c0-23.566,15.032-32.994,31.976-32.994
										c13.502,0,27.897,6.369,27.897,26.878c0,0.383,0,1.274-0.127,2.804H361.656z M361.656,219.261h18.726
										c0.127-1.655,0.127-3.312,0.127-3.821c0-16.689-3.438-21.146-8.661-21.146C365.478,194.293,361.91,200.79,361.656,219.261z" />
										<path d="M17.16,177.962c0-1.652-0.127-2.034-1.271-3.051l-8.389-8.007v-0.254h42.328v0.254l-8.389,8.007
										c-1.144,1.017-1.271,1.398-1.271,3.051v63.047c0,25.168-13.728,40.93-40.04,41.819L0,282.573
										c11.948-6.102,17.16-18.049,17.16-34.064V177.962z" />
										<path d="M197.461,218.242l-8.153-3.567c-7.516-3.312-11.72-5.987-11.72-11.593c0-5.986,4.713-8.916,10.318-8.916
										h1.783c1.784,0,2.166,0.636,2.93,1.911l9.936,17.707h0.255l7.134-18.471c-8.28-2.547-16.178-3.439-22.42-3.439
										c-16.179,0-26.115,8.026-26.115,20.127c0,9.045,5.35,14.777,12.356,18.089l8.663,4.076c4.889,2.257,8.257,3.939,10.204,6.012
										l7.906-20.488C199.55,219.185,198.522,218.704,197.461,218.242z" />
										<path
											d="M279.367,245.376c-0.764,1.528-1.911,2.292-3.567,2.292c-2.547,0-3.694-2.42-3.438-7.387l0.764-18.09
										c0-0.383,0.128-3.313,0.128-4.586c0-9.81-2.293-16.051-6.37-19.873c-4.585-4.331-11.21-5.86-19.745-5.86
										c-8.152,0-17.197,0.414-25.731,3.471l7.13,18.479h0.256l11.212-18.001c0.765-1.402,0.892-1.529,3.44-1.529
										c6.623,0,9.3,5.858,9.3,14.649v0.638l-0.256,13.63c-3.44-2.421-8.025-3.439-13.503-3.439c-2.59,0-5.209,0.409-7.687,1.214
										l6.161,15.966c0-0.037-0.003-0.071-0.003-0.109c0-7.39,3.694-13.122,10.317-13.122c1.656,0,3.185,0.257,4.714,0.765l-0.255,18.6
										v0.127c-1.656,2.547-4.459,4.458-7.261,4.458c-1.44,0-2.749-0.432-3.861-1.254l3.126,8.101c3.709-2.159,6.52-5.62,7.996-9.902
										c0.383,8.024,6.625,12.356,13.886,12.356c6.114,0,10.446-2.803,12.484-7.007c0.764-1.528,1.018-3.439,1.018-4.586H279.367z" />
										<polygon points="248.329,265.087 248.316,265.087 248.329,265.119 	" />
										<polygon points="228.536,213.823 221.406,195.344 228.536,213.823 	" />
										<polygon class="logojet" points="247.667,146.066 247.667,139.905 222.799,120.079 222.799,101.412 217.15,94.579 214.201,94.579
									    208.552,101.412 208.552,120.079 183.684,139.905 183.684,146.066 209.534,137.678 211.796,161.163 204.545,168.278
									    204.545,171.49 215.676,168.278 226.807,171.49 226.807,168.278 219.555,161.163 221.817,137.678 	" />
									</g>
								</g>
							</a></svg>
					</div>

					<!-- Top Menu -->
					<nav class="header-top d-inline-flex on-top">
						<div class="header-top-newsletter header-top-item">
							<a href="#newsletter">
								<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 400 400">
									<path d="M399.231,69.371c-3.333-12.157-12.45-19.251-25.156-19.27
											c-42.292-0.037-84.548-0.018-126.84-0.018c-72.867,0-145.771,0.046-218.601-0.055c-8.642-0.018-16.551,1.556-22.08,8.504
											C3.662,62.157,2.124,66.899,0,71.138c0,85.93,0,171.86,0,257.78c0.256,0.604,0.586,1.172,0.769,1.795
											c3.332,12.12,12.633,19.26,25.156,19.26c41.083,0,82.204,0,123.325,0c74.295,0,148.59,0,222.885,0
											c15.05,0,22.886-5.858,27.426-20.395c0.073-0.238,0.293-0.439,0.439-0.66c0-85.92,0-171.851,0-257.78
											C399.744,70.552,399.414,69.975,399.231,69.371z M26.181,82.314c2.6-5.236,6.921-7.369,12.669-7.36
											c33.065,0.055,66.13,0.028,99.195,0.028c74.332,0.009,148.663,0.027,222.995-0.019c4.76,0,8.715,1.318,11.534,5.245
											c3.295,4.559,3.003,6.5-1.392,9.877c-55.987,42.915-111.937,85.82-167.924,128.726c-1.025,0.787-2.087,1.501-3.369,2.435
											c-22.08-16.935-43.867-33.632-65.69-50.329c-35.408-27.17-70.816-54.367-106.298-81.408C24.899,87.249,24.716,85.207,26.181,82.314z
											 M374.845,281.17c-1.136-0.622-2.124-1.062-3.04-1.684c-25.229-16.99-50.494-34.018-75.686-51.08
											c-7.287-4.926-14.574-4.156-18.857,2.087c-4.321,6.279-2.49,13.273,4.796,18.382c29.659,20.688,59.319,41.395,88.979,62.102
											c4.211,2.929,4.504,4.54,1.538,8.751c-2.783,3.954-6.701,5.383-11.461,5.383c-33.871-0.073-67.704-0.036-101.538-0.036
											c-73.307,0-146.613,0-219.883,0.036c-5.163,0-9.484-1.208-12.45-5.712c-1.684-2.527-1.867-4.229,1.099-6.335
											c30.208-21.494,60.308-43.189,90.443-64.774c4.687-3.369,7.067-7.689,5.822-13.42c-1.978-8.972-11.937-12.578-19.7-7.195
											c-18.272,12.724-36.47,25.484-54.742,38.209c-7.14,4.998-14.28,9.979-21.457,14.958c-1.025,0.714-2.087,1.354-3.515,2.252
											c0-54.54,0-108.605,0-163.301c1.611,1.199,2.966,2.124,4.248,3.112c53.863,41.147,107.763,82.305,161.662,123.443
												c6.372,4.889,11.351,4.907,17.686,0.073c53.899-41.157,107.763-82.296,161.662-123.443c1.318-0.989,2.673-1.932,4.395-3.177
											C374.845,173.829,374.845,227.271,374.845,281.17z" />
								</svg>
								<h4 class="d-inline top-link">Newsletter</h4>
							</a>
						</div>
						<div class="header-top-contact header-top-item">
							<a href="/contactus">
								<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 400 400">
									<path d="M368.067,296.197c-21.953-14.245-44.344-27.782-67.078-40.637
										c-13.22-7.489-26.244-4.244-35.806,6.634c-16.294,18.611-24.978,19.221-41.563,0.805c-28.979-32.173-57.468-64.857-85.812-97.604
										c-16.732-19.27-16.098-26.734,2.245-44.308c14.684-14.111,17.025-26.209,7.805-44.687c-9.806-19.537-19.855-38.953-30.197-58.198
										c-9.513-17.77-18.05-21.197-37.466-15.977C37.119,13.825,13.118,52.827,23.265,96.33c2.976,12.855,6.537,26.258,13.123,37.466
										c20.196,34.355,40.539,68.784,63.467,101.349c39.222,55.687,85.079,105.299,145.717,138.521
										c20.409,11.182,42.702,27.12,67.107,26.304c6.598-0.221,13.463-2.459,19.231-5.646c26.393-14.659,36.985-40.758,45.767-68.71
										C381.092,314.76,378.214,302.831,368.067,296.197z" />
								</svg>
								<h4 class="d-inline top-link">Contact Us</h4>
							</a>
						</div>
						<div class="header-top-book header-top-item">
							<a href="https://jetsavetours.in">
								<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 400 400">
									<path d="M399.9,13.641c-4.49-4.464-8.93-8.916-13.418-13.393
										c-50.403-2-81.191,30.117-111.148,63.832c-4.198,4.684-8.149,10.563-13.516,13.039c-11.369,5.184-23.956,12.796-35.424,11.844
										c-52.548-4.33-105.097-10.16-157.256-17.797c-22.59-3.306-35.325,5.051-46.157,24.481c50.012,25.86,98.999,51.22,150.182,77.689
										c-22.005,27.408-43.425,50.61-60.795,76.568c-21.811,32.495-48.646,48.692-88.46,41.569c-6.587-1.17-14.296,4.171-21.517,6.513
										c-0.83,2.611-1.61,5.246-2.391,7.882c48.841,14.051,79.141,46.644,94.998,93.972c22.054-14.343,13.467-32.591,13.613-47.426
										c0.195-20.175,1.903-38.447,22.933-47.889c4.83-2.146,8.051-6.465,12.344-9.93c27.03-22.054,54.11-44.009,83.092-67.503
										c27.129,52.428,52.451,101.341,78.066,150.793c26.445-21.323,26.348-21.323,23.177-49.039c-5.123-44.595-8.1-89.556-15.857-133.7
										c-5.513-31.496,1.903-54.196,26.787-73.944C373.6,93.879,401.9,62.018,399.9,13.641z" />
								</svg>

								<h4 class="d-inline top-link" id="test">Visa</h4>
							</a>
						</div>

					</nav>
					<!-- Main Menu -->
					<nav class="main-nav on-top">
						<div class="main-nav-item text-center" onmouseover="showdes()">
							<div><a href="/our-destination">
									<h5>Our</h5>
									<h4>Destinations</h4>
								</a>
							</div>

						</div>
						<div class="main-nav-item text-center">
							<div><a href="/our-themed-packages">
									<h5>Our Themed</h5>
									<h4>Packages</h4>
								</a></div>
						</div>
						<!-- <div class="main-nav-item text-center">
							<div><a href="/destinationpage">
									<h5>Explore</h5>
									<h4>Itineraries</h4>
								</a></div>
						</div> -->
						<div class="main-nav-item text-center">
							<div><a href="/travelogue-guest">
									<h5>All Travel</h5>
									<h4>Blog</h4>
								</a></div>

						</div>
						<div class="main-nav-item text-center">
							<div><a href="/my-profile">
									<h5>Jet-setter</h5>
									<h4>Travelogue</h4>
								</a></div>
						</div>
						<div class="main-nav-item text-center">
							<div><a href="/about-jetsave">
									<h5>About</h5>
									<h4>Jetsave</h4>
								</a></div>
						</div>
						<div class="main-nav-item text-center">
							<div>
								<% if(login == true)  { %>
								<h5 style="color: red;">Hi <%=result[0].name%></h5>
								<a href="/travelogue-guest/logout">Logout</a>
								<% } else { %>
								<a href="/login">Login</a>	
								<% } %>
							</div>
						</div>
					</nav>
				</div>
			</div>

			<!-- The menu nav structure -->

			<!-- About Jetsave -->
			<section id="aboutjetsavedetails" class="container-fluid full-width">
				<div class="row topmargin bgjetsave">
					<div class="col-sm-8 topmargin textpad">
						<div class="about-jetsave">
							<div class="d-inline-flex">
								<span>
									<h3 class="tophead">
										WHY
									</h3>
									<h1 class="bottomhead">
										Jetsave
									</h1>
								</span>
							</div>
							<div>
								<p class="padding-left paramar">
									Forged by greatness Jetsave India Tours Pvt. Ltd is a technology driven travel
									management company in India. Our operations of visa facilitation, handcrafting and
									coordinating complex international and luxury itineraries began in 1990. Ever since
									then our team of professionally qualified travel specialists have given utmost
									importance to client’s satisfaction.
									Having over 29 years of experience in visa consolidation, Jetsave has built up
									excellent working relationship with all the Consulates and High Commissions in
									India.

								</p>
								<p class="padding-left">
									With an exceedingly dedicated team of 4000 travel agents and clients across Country
									who have a track record of facilitating over 2,50,000 visas in a year have immense
									expertise and connections all over logistics, transportation, accommodation, guides,
									and insider access to unique experiences – as well as 24X7 support throughout your
									trip is sure to provide you value for you travel investment.
									As one-stop travel company we make sure to put together a selection of fine
									pleasures as well as sensory delights.
								</p>
							</div>
						</div>
					</div>
					<div class="col-sm-4">
						<img src="/image/Home-Page/Home-Page-Why-Jetsave.jpg" alt="" width="100%" height="auto">
					</div>
				</div>
			</section>


			<!-- Our Experts Section -->
			<section id="our-expertcarousesl" class="container-fluid textpad full-width">
				<div class="row topmargin botmargin bgourexpert">
					<div class="row flex-row-reverse internal-container">
						<div id="our-experts" class="textpad d-inline-flex">
							<span>
								<h3 class="tophead buzz1">
									MEET OUR
								</h3>
								<h1 class="bottomhead">
									Experts
								</h1>
							</span>
						</div>
						<span id="carousel1" class="carousel-container">
							<div id="carouselourexpert" class="carousel slide" data-ride="carousel">
								<ol class="carousel-indicators">
									<li data-target="#carouselourexpert" data-slide-to="0" class="active"></li>
									<li data-target="#carouselourexpert" data-slide-to="1"></li>
									<li data-target="#carouselourexpert" data-slide-to="2"></li>
								</ol>
								<div id="popup1" class="overlay">
									<div class="popup">
										<img class="" src="/assets/img/kanika.jpeg" width="300px" height="300px" alt="">
										<h2>Hi i am Eety! 🎉</h2>
										<a class="close" href="#carousel">&times;</a>
										<div class="content" id="h2">
											Email:- eety@jetsavetours.com<br>
											Mobile:- +91 8588829128
										</div>
									</div>
								</div>
								<div id="popup2" class="overlay">
									<div class="popup">
										<img class="" src="/assets/img/eety.jpeg" width="300px" height="300px" alt="">
										<h2>Hi i am Kanika! 🎉</h2>
										<a class="close" href="#carousel">&times;</a>
										<div class="content" id="h2">
											Email:- kanika.segan@jetsavetours.com<br>
											Mobile:- +91 8178669522
										</div>
									</div>
								</div>
								<div id="popup3" class="overlay">
									<div class="popup">
										<img class="" src="/assets/img/tarun.jpeg" width="300px" height="300px" alt="">
										<h2>Hi i am Tarun! 🎉</h2>
										<a class="close" href="#carousel">&times;</a>
										<div class="content" id="h2">
											Email:- tarun.bansal@jetsavetours.com<br>
											Mobile:- +91 7290099970
										</div>
									</div>
								</div>
								<div class="carousel-inner" id="carousel">
									<div class="carousel-item active">
										<div class="d-block testiwrapper container-fluid">
											<div class="row align-items-center justify-content-center">
												<div class="col-sm-4">
													<img class="" src="/assets/img/kanika.jpeg" width="300px"
														height="300px" alt="">
												</div>
												<div class="col-sm-8">
													<a href="#popup1">
														<h1 style="color: black; text-decoration: none;">
															Eety Padia
														</h1>
													</a>
													<p class="psmall ppad subhead">
														Field of Expertise - International Travel / Family Tour
													</p>
													<p class="ppad">
														Eety Padia has always understood the requirements of the global
														traveler and served millions in the
														process. With decades of hard work and adherence to ethics and
														integrity, she has emerged as the best in
														the field of International Travel and Family Tours. She knows
														about the family ethics and understands what
														would keep a family together.
													</p>
												</div>
											</div>
										</div>
									</div>
									<div class="carousel-item">
										<div class="d-block testiwrapper container-fluid">
											<div class="row align-items-center justify-content-center">
												<div class="col-sm-4">
													<img class="" src="./assets/img/eety.jpeg" width="300px"
														height="300px" alt="">
												</div>
												<div class="col-sm-8">
													<a href="#popup2">
														<h1 style="color: black; text-decoration: none;">
															Kanika Segan
														</h1>
													</a>
													<p class="psmall ppad subhead">
														Field of Expertise - Domestic Travel
													</p>
													<p class="ppad">
														A believer of dedication, experiences and passion, Kanika is
														committed to provide the best travel services
														to customers all over the world. Having travel a lot, she not
														only gives her customers the best domestic
														travel ideas and prompt services but also puts herself in your
														shoes and ensure the best possible domestic
														travel package options that will suit your needs.
													</p>
												</div>
											</div>
										</div>
									</div>
									<div class="carousel-item">
										<div class="d-block testiwrapper container-fluid">
											<div class="row align-items-center justify-content-center">
												<div class="col-sm-4">
													<img class="" src="./assets/img/tarun.jpeg" width="300px"
														height="300px" alt="">
												</div>
												<div class="col-sm-8">
													<a href="#popup3">
														<h1 style="color: black; text-decoration: none;">
															Tarun Bansal
														</h1>
													</a>
													<p class="psmall ppad subhead">
														Field of Expertise - Ticketing
													</p>
													<p class="ppad">
														You dream it, Tarun plans it. Through his years of planning and
														research, he drive strategic development,
														forges people partnerships and develops ticketing plans. He has
														an ambition to provide the travel industry
														with a safe and pocket-friendly ticket booking technology. His
														extensive experience in travelling made him
														masters of ticket booking. He knowns when to do what!
													</p>
												</div>
											</div>
										</div>
									</div>
								</div>

							</div>
						</span>
					</div>
				</div>
			</section>

			<!-- Traveller's Blog Carousel-->

			<!--near area-->
			<center>
				<h3 class="tophead buzz2" style="text-align: center;">
					Our
				</h3>
				<h1 class="bottomhead">
					Themed Packages
				</h1>
			</center>
			<div class="wrapper">
				<section id="section1">
					<a href="#section3" class="arrow__btn cararo">‹</a>
					<a href="family-tour-packages">
						<div class="item">
							<img src="/image/Home-Page/5.jpg" width="auto" height="350px;">
						</div>
					</a>
					<a href="honeymoon-tour-packages">
						<div class="item">
							<img src="/image/Home-Page/honey.jpg" width="auto" height="350px;">
						</div>
					</a>
					<a href="friends-tour-packages">
						<div class="item">
							<img src="/image/Home-Page/7.jpg" width="auto" height="350px;">
						</div>
					</a>
					<a href="wildlife-tour-packages">
						<div class="item">
							<img src="image/Home-Page/wildlife.jpg" width="auto" height="350px;">
						</div>
					</a>
					<a href="solo-tour-packages">
						<div class="item">
							<img src="image/Home-Page/solotravel.jpg" width="auto" height="350px;">
						</div>
					</a>
					<a href="#section2" class="arrow__btn cararo1">›</a>
				</section>
				<section id="section2">
					<a href="#section1" class="arrow__btn cararo">‹</a>
					<a href="fixed-departure-tour-packages">
						<div class="item">
							<img src="/image/fixed.jpg" width="auto" height="350px;">
						</div>
					</a>
					<a href="spritual-tour-packages">
						<div class="item">
							<img src="/image/Home-Page/spritual.jpg" width="auto" height="350px;">
						</div>
					</a>
					<a href="friends-tour-packages">
						<div class="item">
							<img src="/image/Home-Page/7.jpg" width="auto" height="350px;">
						</div>
					</a>
					<a href="wildlife-tour-packages">
						<div class="item">
							<img src="image/Home-Page/wildlife.jpg" width="auto" height="350px;">
						</div>
					</a>
					<a href="solo-tour-packages">
						<div class="item">
							<img src="image/Home-Page/solotravel.jpg" width="auto" height="350px;">
						</div>
					</a>
					<a href="#section3" class="arrow__btn cararo1">›</a>
				</section>
				<!-- <section id="section3">
		<a href="#section2" class="arrow__btn cararo">‹</a>
		<a href="our_themed_packages_family_tours">
			<div class="item">
				<img src="CSS/img/5.png" width="auto" height="400px;">
			</div>
		</a>
		<a href="our_themed_packages_family_tours">
			<div class="item">
				<img src="CSS/img/honey.png" width="auto" height="400px;">
			</div>
		</a>
		<a href="our_themed_packages_family_tours">
			<div class="item">
				<img src="CSS/img/7.png" width="auto" height="400px;">
			</div>
		</a>
		<a href="our_themed_packages_family_tours">
			<div class="item">
				<img src="CSS/img/wildlife.png" width="auto" height="400px;">
			</div>
		</a>
		<a href="our_themed_packages_family_tours">
			<div class="item">
				<img src="CSS/img/solotravel.png" width="auto" height="400px;">
			</div>
		</a>
		<a href="#section1" class="arrow__btn cararo1">›</a>
	</section> -->
			</div>



			<!-- People's Choice selector -->


			<!--Add New Form-->
			<center>
				<h3 class="tophead buzz2" style="text-align: center; margin-top: 50px;">
					Create
				</h3>
				<h1 class="bottomhead">
					Your Own Pacakage
				</h1>
			</center>




			<div id="smrtform" class="class=" smrtform container-fluid full-width" style="padding-bottom: 100px;">
				<div class="bgjetsave row" style=" box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);">


					<div class="col-sm-6 textpad smrtlft smrttpmr">
						<form action="/success" method="POST" id="myform">
							<input type="text" name="name" class="form-control smrtformhm" placeholder="Enter Your Name"
								required>
							<input type="email" name="email" class="form-control smrtformhm" placeholder="Enter Email"
								required><br>
							<input type="number" name="number" class="form-control smrtformhm"
								placeholder="Enter Mobile Number" required>

							<input type="text" name="startcity" class="form-control smrtformhm"
								placeholder="Enter Your Start City" required>
							<div style='text-align:center;'>

								<select id="country" class="form-control col-md dropdownsmrt smrtformhm" name="country"
									required>
									<option>-Select Country To Visit-</option>
								</select>
								<input type="text" class="form-control smrtformhm" name="city"
									placeholder="Enter City To Visit">
								Trip Start Date: <input type="date" name="date" class="form-control col-md smrtformhm"
									required>
								Trip End Date: <input type="date" name="date" class="form-control col-md smrtformhm"
									required>
							</div>

					</div>

					<div class="col-sm-4 textpad smrttpmr">

						<h2> Trip Additions </h2>
						<input type="checkbox" name="trip" value="Sightseeing"> Sightseeing<br>
						<input type="checkbox" name="trip" value="Tickets"> Tickets<br>
						<input type="checkbox" name="trip" value="Guide"> Guide<br>
						<input type="checkbox" name="trip" value="Meals"> Meals<br>
						<input type="checkbox" name="trip" value="Airport Transfers"> Airport Transfers<br>
						<textarea class="form-control smrtformhmtext" name="message" cols="10" rows="7"
							placeholder="Let us Know of any additional requirements"></textarea>
					</div>
					<div class="col-sm-2">
						<i class="fa fa-times-circle smrtremove"></i>

					</div>
				</div>

				<div class="results"></div>

				<div class="buttons">
					<input type="button" class="btn btn-danger clone" value="Add Another Location" style="    margin-left: 39%;
    margin-top: 2%;">


					</form>
					<input type="submit" class="btn btn-success smrtbtn" form="myform" value="Submit"
						style="margin-left: 1%">
				</div>
			</div>

			<!--New Form End-->


			<section id="peoplechoicetours">
				<img class="bgimgelon" src="/CSS/img/jetsave/Munnar/img3.jpg" alt="">
				<img class="londonimage" src="/image/central/S4.jpg" alt="">
				<img class="greeceimage" src="/CSS/img/jetsave/Munnar/img3.jpg
				" alt="">
				<img class="figiimage" src="/image/2.jpg" alt="">
				
				<div class="container-fluid full-width choice-height bgpeople">
					<div id="peoplechoice" class="row botmargin justify-content-center align-items-center colpad">
						<div id="peoplechoiceheadmob" class="row textpad d-inline-flex full-width"
							style="overflow: visible;">
							<div class="col-sm-6 text-center">
								<h3 class="tophead text-center">
									PACKAGES OF THE MONTH
								</h3>
								<h1 class="bottomhead white">
									People's Choice
								</h1>
							</div>
						</div>
						<div class="row botbor">
							<span id="pchoice1" class="row full-width">
								<div class="col-sm-5" style="height: auto">

									<a href="/Itineraries-Greece-Honeymoon-Packages"
										style="text-decoration: none; color:white;">
										<h2 class="nopad white londonimage1">
											Soothing Munnar and Alleppey Honeymoon Package<br>
									</a>
									<p class="londonimage1" style="color: white; font-size: 12px;"><a
											href="/Tour-the-Natural-Treasure-Indonasia"
											style="text-decoration: none; color: red"></a></p>
									</h2>


									<a href="/Central-Highlight" style="text-decoration: none; color:white;">
										<h2 class="nopad white londonimage">
											Off Beat Paths Of Central Vietnam<br>
									</a>
									<p class="londonimage" style="color: white; font-size: 12px;"></p>

									</h2>
									<a href="/Soothing-Munnar-and-Alleppey-Honeymoon" style="text-decoration: none; color: white;">
										<h2 class="nopad white greeceimage">
											Soothing Munnar and Alleppey Honeymoon Package<br>
									</a>
									<p class="greeceimage" style="color: white; font-size: 12px;"><a
											href="/Itineraries-Greece-Honeymoon-Packages"
											style="text-decoration: none; color: red"></a></p>
									</h2>
									<a href="/The-Remarkable-Western-Wanderer-Tour"
										style="text-decoration: none; color: white;">
										<h2 class="nopad white figiimage" style="font-size: 30px !important;">
											The Remarkable Western Wanderer Tour<br>
									</a>
									<p class="figiimage" style="color: white; font-size: 15px;"><a href="/"
											style="text-decoration: none; color: red"></a><br></p>
									</h2>
									

								</div>
								<div class="col-sm-2 text-center">

									<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
										xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="400px"
										height="400px" viewBox="0 0 400 400" enable-background="new 0 0 400 400"
										xml:space="preserve" class="svgicon">
										<g>
											<path fill-rule="evenodd" clip-rule="evenodd"
												d="M157.666,57.858c28.322,0,56.27,0,84.615,0c0-0.901-0.01-1.772,0.002-2.642
											c0.1-7.765-0.173-15.557,0.387-23.289c1.122-15.49,15.255-30.724,32.307-31.235c8.04-0.242,16.238-0.48,24.132,0.762
											c15.104,2.377,27.244,17.063,27.707,32.359c0.214,7.079,0.076,14.168,0.098,21.253c0.003,0.828,0,1.656,0,2.736
											c0.949,0.042,1.752,0.109,2.555,0.109c8.228,0.008,16.465,0.261,24.682-0.051c15.111-0.574,29.353,12.266,29.332,29.379
											c-0.118,94.465-0.059,188.931-0.055,283.396c0,10.166-4.226,18.233-12.196,24.374c-4.1,3.158-8.873,4.609-14.011,4.896
											c-1.216,0.068-2.437,0.072-3.655,0.072c-102.465,0.003-204.929-0.014-307.394,0.023c-12.685,0.005-21.56-5.848-27.192-16.974
											c-1.897-3.75-2.447-7.828-2.448-11.978c-0.009-94.617-0.022-189.235,0.009-283.854c0.004-13.777,8.841-25.536,21.307-28.451
											c2.564-0.6,5.274-0.761,7.921-0.792c8.15-0.099,16.303-0.036,24.454-0.036c0.827,0,1.654,0,2.812,0c0-0.979,0-1.786,0-2.593
											c0.007-6.704-0.084-13.41,0.041-20.111c0.313-16.729,12.402-31.396,28.88-34.047c9.459-1.522,19.211-1.699,28.647,0.359
											c15.412,3.362,26.688,17.648,27.021,33.55c0.14,6.701,0.036,13.407,0.043,20.111C157.666,56.006,157.666,56.827,157.666,57.858z
											 M355.112,143.648c-103.558,0-206.892,0-310.2,0c0,76.098,0,152.021,0,227.976c103.473,0,206.805,0,310.2,0
											C355.112,295.563,355.112,219.691,355.112,143.648z M129.393,69.028c0-10.667,0.029-21.333-0.014-32
											c-0.018-4.57-2.382-7.204-6.684-7.317c-4.873-0.128-9.753-0.129-14.626-0.003c-4.134,0.107-6.4,2.406-6.788,6.532
											c-0.071,0.756-0.078,1.521-0.078,2.282c-0.004,20.19-0.004,40.38,0,60.57c0,0.761,0.01,1.526,0.082,2.282
											c0.397,4.188,2.604,6.367,6.784,6.468c4.341,0.104,8.685,0.061,13.027,0.046c6.099-0.021,8.292-2.199,8.298-8.232
											C129.404,89.446,129.396,79.237,129.393,69.028z M270.555,68.922c0,10.59-0.034,21.181,0.017,31.771
											c0.022,4.61,2.446,7.069,7.03,7.164c4.493,0.093,8.991,0.079,13.485,0.021c5.377-0.07,7.63-2.402,7.646-7.994
											c0.039-13.486,0.014-26.971,0.014-40.457c0-7.314,0.049-14.628-0.021-21.942c-0.052-5.458-2.462-7.79-7.874-7.815
											c-4.037-0.02-8.075-0.013-12.113-0.002c-5.847,0.015-8.177,2.33-8.185,8.17C270.54,48.198,270.55,58.561,270.555,68.922z" />
										</g>
									</svg>

									<h3 class="pc nomar nopad londonimage1">
										5 Nights<br>
									</h3>
									<h3 class="pc nomar nopad londonimage">
										6 Nights
									</h3>
									<h3 class="pc nomar nopad greeceimage">
										5 Nights
									</h3>
									<h3 class="pc nomar nopad figiimage">
										6 Nights
									</h3>
									
									<h5 class="tourtextred" style="color: red;
    position: relative;
    font-size: 18px;
	margin-left: 14%;
	margin-top: 18%;">Tour</h5>
								</div>
								<div class="col-sm-2 text-center">
									<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
										xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="400px"
										height="400px" viewBox="0 0 400 400" enable-background="new 0 0 400 400"
										xml:space="preserve" class="svgicon">
										<g>
										</g>
									</svg>
									<h3 class="pc nomar nopad text-center">
										<!-- Easy Level -->
									</h3>
									<p class="psmall subhead text-center" style="color: red;
    position: relative;
    font-size: 18px;
	margin-left: 14%;
	margin-top: 1%;">
									</p>
								</div>
								<div class="col-sm-3 text-center booktrip">
									<h3 class="nopad white">
										<!--Starting at--> Let Us Plan <span id="tripcost" class="jetsavered">For You!
											<!--Rs. 65,000--></span>
									</h3>

									<button id="contact" class="btn btn-primary bookbutton btnicon">
										BOOK THIS TRIP
									</button>
								</div>
							</span>


							<!--popup-->
							<div id="contactForm">

								<h1 style="color: red;">Get a Quote</h1>
								<small>I'll get back to you as quickly as possible</small>

								<form action="/insert" method="POST">
									<input placeholder="Name" name="name" class="form-control col-md 4" type="text"
										required />
									<input placeholder="Email" name="email" class="form-control" type="text" required />
									<input placeholder="Subject" name="subject" class="form-control" type="text"
										required />
									<textarea placeholder="Comment" name="comment" class="form-control"></textarea><br>
									<input class="formBtn btn btn-danger" type="submit" />
									<input class="formBtn btn btn-danger" type="reset" />
								</form>
							</div>
							<!--popup end -->
							<!-- same as above in the spans below to be called through JS -->
							<span id="pchoice2" class="row full-width"></span>
							<span id="pchoice3" class="row full-width"></span>
							<span id="pchoice4" class="row full-width"></span>
							<!-- till here -->
						</div>
						<!-- div of heading of people's choices -->
						<!-- <div id="peoplechoicehead" class="row textpad d-inline-flex full-width" style="overflow: visible;">
						<div class="col-sm-6 text-center">
							<h3 class="tophead text-center">
								PACKAGES OF THE MONTH
							</h3>
							<h1 class="bottomhead white">
								People's Choices
							</h1>
						</div>	
					</div> -->
						<!-- the choice options -->
						
					</div>

				</div>
				<div class="row poption" style="margin-top: -9%;">
					<div class="col-2"></div>
					<div class="col-3 kska " id="london">

						<img src="/image/collagess/Vietnam1.png" alt="">
						
					</div>
					<div class="col-3 kska activekau " id="greece">

						<img src="/image/collagess/kerala.png" alt="">
						
					</div>
					<div class="col-3 kska " id="figi">

						<img src="/image/collagess/America1.png" alt="">
	
					</div>
					<div class="col-1"></div>
				</div>
			</section>


			<!-- Verified Traveller Section -->


			<!-- trade association section -->
			<section id="travellerblogcarousel">
				<div class="container-fluid full-width">
					<div class="row topmargin botmargin bgtravblog justify-content-center">
						<div class="row full-width justify-content-center botmargin">
							<div class="col-sm-4 text-center">
								<div id="travellerblog" class="textpad d-inline-flex">
									<span>
										<h3 class="tophead buzz1">
											TRAVELLER'S
										</h3>
										<h1 class="bottomhead">
											Blog
										</h1>
									</span>
								</div>
							</div>
						</div>
						<div class="row full-width justify-content-center">
							<span id="carousel2" class="full-width">
								<div id="carouseltravelblog" class="carousel slide" data-ride="carousel">
									<ol class="carousel-indicators">
										<li data-target="#carouseltravelblog" data-slide-to="0" class="active"></li>
										<li data-target="#carouseltravelblog" data-slide-to="1"></li>
										<li data-target="#carouseltravelblog" data-slide-to="2"></li>
									</ol>
									<div class="carousel-inner">
										<div class="carousel-item active hidden-xs hidden-sm">
											<div class="container-fluid colpad">
												<div class="row justify-content-center">
													<div class="col-sm-4 blogpad">
														<span>
															<img src="https://i2.wp.com/www.curiouskeeda.com/wp-content/uploads/2019/07/curiouskeeda1-9.jpg?fit=700%2C466&ssl=1"
																alt="" class="blogimg text-center">
															<p id="date" class="psmall subhead justify-content-center">
																2019, July 6
															</p>
															<a href="https://www.curiouskeeda.com/curious-travel/why-is-visa-so-important/"
																id="bloglink1" class="blogh">
																<h1 class="h1small nopad">
																	Why Is Visa So Important?
																</h1>
															</a>
															<p class="blogp">
																We all love to travel and when we are travelling between
																different
																countries, a passport is required to
																gain access and cross the country’s borders. Passport
																gives you
																meaning and identification! The passport
																proves to other nations that you are a legal citizen of
																your
																particular nation of origin. For example,
																if you are Indian, and want to enter the United States
																.<a href="https://www.curiouskeeda.com/curious-travel/why-is-visa-so-important/"
																	class="readmore">...Read More</a>
															</p>
														</span>
													</div>
													<div class="col-sm-4 blogpad">
														<span>
															<img src="https://i2.wp.com/www.curiouskeeda.com/wp-content/uploads/2019/06/curiouskeeda1-8.jpg?fit=1280%2C640&ssl=1"
																alt="" class="blogimg text-center">
															<p id="date" class="psmall subhead">
																2019, June 18
															</p>
															<a href="https://www.curiouskeeda.com/curious-travel/vacation-on-budget/"
																id="bloglink2" class="blogh">
																<h1 class="h1small nopad">
																	Vacation On A budget:The Jetsave Way!
																</h1>
															</a>
															<p class="blogp">
																We are all crushed under the pressure of our hectic
																schedules, be it
																work or studies. Most of us crave
																for a few days of bliss at a place far from this
																pressure. While
																sometimes our work may not allow a
																vacation, usually it is our wallet that restricts us
																from taking
																one. But what if we tell you it is
																possible, and in a budget that you can easily afford?<a
																	href="https://www.curiouskeeda.com/curious-travel/vacation-on-budget/"
																	class="readmore">...Read More</a>
															</p>
														</span>
													</div>
													<div class="col-sm-4 blogpad">
														<span>
															<img src="https://i0.wp.com/www.curiouskeeda.com/wp-content/uploads/2019/07/Curious-Keeda-Travel-banner.jpg?fit=640%2C442&ssl=1"
																alt="" class="blogimg text-center">
															<p id="date" class="psmall subhead">
																2019, July 18
															</p>
															<a href="https://www.curiouskeeda.com/curious-travel/5-effective-budget-friendly-tips/"
																id="bloglink3" class="blogh">
																<h1 class="h1small nopad">
																	5 Most Effective Tips To Travel In A Budget-Friendly
																	Way!
																</h1>
															</a>
															<p class="blogp">
																Traveling and exploring the far corners of the planet
																with no cash
																sounds like a far off dream, an
																unimaginable dream. But mind you, it is conceivable, and
																you can do
																it without burning up all available
																monetary resources. It can be said that there are a few
																costs you
																shouldn’t compromise on like having
																compromising on travel insurance
																.<a href="https://www.curiouskeeda.com/curious-travel/5-effective-budget-friendly-tips/ "
																	class="readmore">...Read More</a>
															</p>
														</span>
													</div>
												</div>
											</div>
										</div>
										<div class="carousel-item">
											<div class="container-fluid colpad">
												<div class="row justify-content-center">
													<div class="col-sm-4 blogpad">
														<span>
															<img src="https://i1.wp.com/www.curiouskeeda.com/wp-content/uploads/2019/06/curiouskeeda1-2.jpg?fit=3200%2C1680&ssl=1"
																alt="" class="blogimg text-center">
															<p id="date" class="psmall subhead justify-content-center">
																2019, June 1
															</p>
															<a href="https://www.curiouskeeda.com/curious-travel/perks-of-tour-packages-plan-your-trip-now/ "
																id="bloglink1" class="blogh">
																<h1 class="h1small nopad">
																	Perks of Tour Packages: Plan your trip now!
																</h1>
															</a>
															<p class="blogp">
																We all have a phase where we desperately NEED a
																vacation, but we just cannot find the time to plan one
																amidst our busy schedules. Planning a vacation takes a
																lot of time and effort. From choosing the perfect
																location, scouring reviews, researching the hotel,
																asking friends for referrals, ordering your Lonely
																Planet guide, booking.<a
																	href="https://www.curiouskeeda.com/curious-travel/perks-of-tour-packages-plan-your-trip-now/ "
																	class="readmore">...Read More</a>
															</p>
														</span>
													</div>
													<div class="col-sm-4 blogpad">
														<span>
															<img src="https://i1.wp.com/www.curiouskeeda.com/wp-content/uploads/2019/05/curiouskeeda1.jpg?resize=640%2C360&ssl=1"
																alt="" class="blogimg text-center">
															<p id="date" class="psmall subhead">
																2019, May 8
															</p>
															<a href="https://www.curiouskeeda.com/curious-travel/do-we-really-need-travel-insurance/"
																id="bloglink2" class="blogh">
																<h1 class="h1small nopad">
																	Do We Really Need Travel Insurance?
																</h1>
															</a>
															<p class="blogp">
																Vacations and trips are supposed to be either full of
																relaxation and leaving worries behind, or worth
																extremely important meetings or otherwise. But amidst
																all of this hustle for these impeccable trips, most of
																us forget that there are risks during the journey as
																well.<a
																	href="https://www.curiouskeeda.com/curious-travel/do-we-really-need-travel-insurance/"
																	class="readmore">...Read More</a>
															</p>
														</span>
													</div>
													<div class="col-sm-4 blogpad">
														<span>
															<img src="https://i1.wp.com/www.curiouskeeda.com/wp-content/uploads/2019/04/curiouskeeda1-1.jpeg?fit=1880%2C1253&ssl=1"
																alt="" class="blogimg text-center">
															<p id="date" class="psmall subhead">
																2019, April 16
															</p>
															<a href="https://www.curiouskeeda.com/curious-travel/5-most-exotic-and-highly-enjoyable-destinations-to-visit-this-summer/"
																id="bloglink3" class="blogh">
																<h1 class="h1small nopad">
																	5 Most Exotic and Highly Enjoyable Destinations to
																	Visit This Summer!
																</h1>
															</a>
															<p class="blogp">
																We live on a wonderful planet that offers many
																staggering landscapes, tropical heavens, mist covered
																volcanoes and mind blowing shorelines. The summer
																holidays are around the bend. For those hoping to break
																free and gather a few memories with their loved ones
																amid this summer, there are lot of astonishing places to
																visit.<a
																	href="https://www.curiouskeeda.com/curious-travel/5-most-exotic-and-highly-enjoyable-destinations-to-visit-this-summer/ "
																	class="readmore">...Read More</a>
															</p>
														</span>
													</div>
												</div>
											</div>
										</div>
										<div class="carousel-item">
											<div class="container-fluid colpad">
												<div class="row justify-content-center">
													<div class="col-sm-4 blogpad">
														<span>
															<img src="https://i2.wp.com/www.curiouskeeda.com/wp-content/uploads/2019/04/curiouskeeda.jpg?fit=650%2C340&ssl=1"
																alt="" class="blogimg text-center">
															<p id="date" class="psmall subhead justify-content-center">
																2019, April 18
															</p>
															<a href="https://www.curiouskeeda.com/curious-travel/top-4-must-see-places-in-india-once-in-your-lifetime/ "
																id="bloglink1" class="blogh">
																<h1 class="h1small nopad">
																	Top 5 Must-See Places in India once in your
																	Lifetime!
																</h1>
															</a>
															<p class="blogp">
																India is a colossal mix of traditions, beliefs,
																festivals,
																landscapes and amazing architecture. It is a
																land that is brimming with eclectic cultures and natural
																beauty that
																will surely make your memories of
																India blaze bright. It is truly here, that you can pause
																and unwind.
																It is the world’s largest democracy
																and is also home to the most varied ethnicities.
																<a href="https://www.curiouskeeda.com/curious-travel/top-4-must-see-places-in-india-once-in-your-lifetime/"
																	class="readmore">...Read More</a>
															</p>
														</span>
													</div>

													<div class="col-sm-4 blogpad">
														<span>
															<img src="https://i1.wp.com/www.curiouskeeda.com/wp-content/uploads/2019/05/curiouskeeda7-1.jpg?fit=620%2C349&ssl=1"
																alt="" class="blogimg text-center">
															<p id="date" class="psmall subhead">
																2019, May 18
															</p>
															<a href="https://www.curiouskeeda.com/curious-travel/get-the-most-out-of-italy-by-visiting-these-5-amazing-places/"
																id="bloglink2" class="blogh">
																<h1 class="h1small nopad">
																	Get The Most Out of Italy By Visiting These 5
																	Amazing Places.
																</h1>
															</a>
															<p class="blogp">
																The brilliance and magnitude of each aspect in this land
																inspire and
																moves one like no other land. In
																the world, very few places consist of life and art to
																come together
																in such a seamless and harmonious
																way as Italy. The art of living a beautiful life is
																something which
																Italians have mastered over
																centuries.
																<a href="https://www.curiouskeeda.com/curious-travel/get-the-most-out-of-italy-by-visiting-these-5-amazing-places/"
																	class="readmore">...Read More</a>
															</p>
														</span>
													</div>
													<div class="col-sm-4 blogpad">
														<span>
															<img src="https://i0.wp.com/www.curiouskeeda.com/wp-content/uploads/2019/08/tips-for-traveling-smart-1.jpg?fit=750%2C632&ssl=1"
																alt="" class="blogimg text-center">
															<p id="date" class="psmall subhead">
																2019, August 16
															</p>
															<a href="https://www.curiouskeeda.com/curious-travel/5-tips-to-travel-like-a-pro/"
																id="bloglink3" class="blogh">
																<h1 class="h1small nopad">
																	5 Tips To Travel Like A Pro!
																</h1>
															</a>
															<p class="blogp">
																No matter what the length of your trip is— be it a 1-day
																work trip
																or a three-week trek to some mountain
																— you will have to pack a bag and a great deal of
																planning is
																involved. There is a lot to contemplate
																when planning a trip: the length and types of your trip,
																your
																itinerary, the weather, the scale of your
																baggage, and any weight limits imposed.
																<a href="https://www.curiouskeeda.com/curious-travel/5-tips-to-travel-like-a-pro/"
																	class="readmore">...Read More</a>
															</p>
														</span>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</span>
						</div>
					</div>
				</div>
			</section>
			<!-- Footer section -->
			<footer class="">
				<section class="bgfooter full-width full-height">
					<div class="row full-width footer container-fluid">
						<div class="col-sm-8">
							<div class="row full-width">
								<div class="col-sm-6 colpad footermenu">
									<h2>OUR THEMED PACKAGES</h2>
									<ol>
										<li>
											<a href="honeymoon-tour-packages">Honeymoon</a>
										</li>
										<li>
											<a href="family-tour-packages">Family</a>
										</li>
										<li>
											<a href="solo-tour-packages">Solo</a>
										</li>
										<li>
											<a href="wildlife-tour-packages">WildLife</a>
										</li>
										<li>
											<a href="friends-tour-packages">Friends</a>
										</li>
										<li>
											<a href="fixed-departure-tour-packages">Fixed Departure</a>
										</li>
										<li>
											<a href="/">&nbsp</a>
										</li>
										<li>
											<a href="/">&nbsp</a>
										</li>
										<li>
											<a href="/">&nbsp</a>
										</li>
										<li>
											<a href="/">&nbsp</a>
										</li>
										<li>
											<a href="/">&nbsp</a>
										</li>
										<li>
											<a href="/">&nbsp</a>
										</li>
										<li>
											<a href="/">&nbsp</a>
										</li>
									</ol>
								</div>
								<div class="col-sm-6 colpad footermenu">
									<h2>OUR DESTINATIONS</h2>
									<ol>
										<li>
											<a href="#">Middle East</a>
										</li>
										<li>
											<a href="South-East-Asia">South East Asia</a>
										</li>
										<li>
											<a href="East-Europe">Europe</a>
										</li>
										<li>
											<a href="#">Australia</a>
										</li>
										<li>
											<a href="#">Africa</a>
										</li>
										<li>
											<a href="India-Sri-Lanka-Destination">India & Srilanka</a>
										</li>

									</ol>
									<h2 class="topmargin">VISIT US ON : <a class="icon"
											href="https://www.facebook.com/jetsaveindia/"><i
												class="fab fa-facebook"></i></a> <a class="icon"
											href="https://www.instagram.com/jetsaveindia/?hl=en"><i
												class="fab fa-instagram"></i></a>

										<a class="icon" href="https://twitter.com/_JetsaveIndia_"><i
												class="fab fa-twitter"></i></a> <a class="icon              "
											href="https://www.youtube.com/channel/UCopv8-9C0oPGZEXEVyt9SMw/videos"><i
												class="fab fa-youtube"></i></a> </h2>
									<ol class="d-inline-flex socialicons">




									</ol>
								</div>
							</div>
							<div id="newsletter" class="row full-width justify-content-center">
								<span class="text-center full-width colmar">
									<h1 class="formtext">
										Get More Travel Stories
									</h1>

									<input type="email" name="email" value="Enter your email ID" class="formfill">
									<input type="button" value="Submit" class="formbutton">

								</span>
							</div>
							<div class="img-section">
								<img src="/CSS/img/patner.png" width="50" height="50">
								<img src="/CSS/img/partner1.jpg" width="50" height="50">
								<img src="/CSS/img/partner2.jpg" width="50" height="50">
								<img src="/CSS/img/partner3.jpg" width="50" height="50">
								<img src="/CSS/img/partner4.jpg" width="50" height="50">
								<img src="/CSS/img/partner5.jpg" width="50" height="50">
								<img src="/CSS/img/partner6.jpg" width="50" height="50">
								<img src="/CSS/img/partner7.jpg" width="50" height="50">
							</div>
						</div>
						<div class="col-sm-4">
							<h1 class="Indiatext">
								Here's a Good Reason to visit us!
							</h1>
							<span id="footermap">
								<svg xmlns="http://www.w3.org/2000/svg" width="800" height="800" class="Indiafooter">
									<g>
										<path
											d="M72.634,205.637c1.952,7.58,5.985,14.635,3.589,22.211
										c-2.05,6.485-1.789,12.792-0.763,19.227c1.457,9.146,2.825,18.317,4.694,27.384c5.044,24.476,17.316,46.534,23.845,70.524
										c0.15,0.555,0.74,0.979,1.094,1.486c6.472,9.28,10.047,19.821,11.947,30.751c1.353,7.783,4.854,13.956,10.216,19.252
										c5.359,5.297,12.315,4.709,14.993-2.302c3.238-8.482,9.495-9.508,17.378-10.009c-6.951-5.379-3.257-11.354,1.336-12.851
										c7.803-2.548,7.277-7.608,6.411-12.923c-1.061-6.492,0.063-12.151,3.221-17.77c2.799-4.981,3.583-10.513,2.889-16.172
										c-0.75-6.118-1.633-12.22-2.528-18.32c-0.687-4.669,0.658-10.894,4.226-11.22c8.451-0.765,11.181-10.715,19.684-10.49
										c1.986,0.054,4.47-1.592,4.938-3.756c1.401-6.471,6.876-8.855,11.098-12.818c6.253-5.865,13.876-10.407,18.578-17.896
										c4.093-6.514,9.734-10.94,17.048-13.583c6.47-2.342,11.276-7.072,12.111-14.007c1.181-9.795,4.943-13.246,14.694-11.749
										c9.374,1.439,11.729-1.032,10.113-10.632c-0.358-2.132-0.092-4.669-1.172-6.333c-4.646-7.163-0.772-17.751-10.049-23.254
										c-3.52-2.084,0.299-5.416,2.119-6.645c5.497-3.715,5.863-6.387-0.45-9.356c-1.906-0.899-3.665-2.566-2.987-5.177
										c0.41-1.577,1.541-3.005,3.167-2.987c5.615,0.069,13.598,1.841,14.569,5.502c2.673,10.074,9,8.323,15.771,7.827
										c3.388-0.25,6.797-0.207,10.196-0.217c2.121-0.007,4.53-0.41,5.333,2.429c0.646,2.28,0.004,4.346-1.664,5.941
										c-1.559,1.49-3.299,2.798-5.01,4.122c-3.443,2.661-5.546,5.84-4.085,10.389c0.754,2.353,1.432,4.771,4.235,5.655
										c5.793,1.834,3.284-6.123,7.724-6.242c3.175,2.675,2.615,7.21,4.567,10.61c1.586,2.762,1.11,7.731,5.715,7.271
										c5.709-0.573,3.202-5.488,3.589-8.859c0.386-3.36,1.406-6.659,1.614-10.02c0.254-4.115,0.823-7.319,6.119-7.174
										c3.567,0.098,4.341-3.016,5.054-5.709c2.486-9.403,4.598-18.916,7.393-28.225c2.438-8.124,7.493-13.96,16.541-15.113
										c1.533-0.195,5.143,0.997,3.997-1.269c-2.602-5.147,5.865-10.958,1.499-12.307c-7.843-2.415-9.275-9.048-13.536-13.761
										c-2.496-2.759-5.026-1.892-7.265,0.214c-2.441,2.294-4.976,3.56-8.338,2.269c-4.593-1.762-6.905,1.574-10.342,3.756
										c-8.939,5.68-13.981,16.443-25.286,18.922c-3.858,0.845-3.278,2.856-0.618,5.046c5.537,4.55,3.473,7.08-2.474,8.055
										c-5.774,0.943-11.603,1.555-17.402,2.338c-9.615,1.298-13.119-1.193-14.945-10.878c-0.412-2.193-0.497-4.492-3.245-4.887
     										c-2.391-0.344-4.46,0.986-5.392,2.904c-1.182,2.436-2.761,5.597-2.108,7.848c3.477,11.97-3.36,12.241-11.813,11.114
										c-2.742-0.366-5.476-0.946-8.228-1.048c-10.202-0.37-18.145-8.678-27.139-9.599c-14.369-1.468-26.537-5.996-38.36-13.677
										c-9.947-6.467-11.424-10.777-3.335-19.988c3.852-4.386,1.917-5.347-1.566-8.124c-9.144-7.29-23.381-10.356-22.557-26.049
										c9.268,1.138,13.528-2.407,9.066-8.294c-5.78-7.624-2.728-12.075,2.268-17.36c2.093-2.211,4.22-4.585,5.567-7.268
										c1.755-3.487,4.224-7.529,1.396-11.292c-2.667-3.549-6.834-5.249-11.43-4.749c-2.746,0.297-5.763,0.515-8.09,1.798
										c-8.798,4.854-14.759,1.323-20.884-5.271c-9.692-10.437-20.814-16.929-35.813-9.951c-4.457,2.073-8.564,4.43-10.069,8.831
										c-1.828,5.347,4.827,4.375,6.785,7.174c2.539,3.625,9.62,5.176,5.881,11.644c-7.062,12.209-5.008,21.547,6.496,29.928
										c2.596,1.889,6.108,2.995,7.591,6.337c-1.857,3.31-7.346,3.534-7.005,8.156c0.656,8.888-5.727,14.112-10.484,19.876
										c-6.365,7.714-12.625,15.537-19.459,22.91c-5.58,6.025-11.104,8.428-18.61,5.543c-7.527-2.893-8.16,4.857-11.993,7.569
										c-2.568,1.82-4.779,5.659-1.813,7.914c6.168,4.694,3.866,13.905,10.854,18.158c2.075,1.265,2.82,5.463,3.273,8.453
										c0.568,3.734,2.165,7.906-5.545,6.841c-5.816-0.801-12.099,0.108-18.214-0.533c-4.546-0.471-8.455,2.636-10.822,5.561
										c-2.45,3.03,1.87,6.05,3.704,8.642c5.777,8.171,13.57,8.425,23.717,3.313c-5.684,8.442-12.354,9.334-20.18,8.888
										c1.991,7.428,7.844,11.412,12.091,16.418c3.968,4.677,8.086,9.483,15.702,6.706C64.723,218.513,72.617,216.679,72.634,205.637z" />
										<path
											d="M72.634,205.637c-0.018,11.042-7.911,12.876-15.371,15.595
										c-7.616,2.777-11.734-2.029-15.702-6.706c-4.247-5.006-10.1-8.99-12.091-16.418c7.826,0.446,14.496-0.445,20.18-8.888
										c-10.146,5.111-17.939,4.857-23.717-3.313c-1.834-2.592-6.154-5.612-3.704-8.642c2.367-2.925,6.276-6.032,10.822-5.561
										c6.115,0.642,12.397-0.268,18.214,0.533c7.71,1.065,6.113-3.107,5.545-6.841c-0.453-2.99-1.198-7.188-3.273-8.453
										c-6.987-4.252-4.686-13.463-10.854-18.158c-2.967-2.255-0.756-6.094,1.813-7.914c3.833-2.711,4.466-10.462,11.993-7.569
										c7.506,2.885,13.03,0.482,18.61-5.543c6.834-7.373,13.094-15.196,19.459-22.91c4.758-5.764,11.141-10.988,10.484-19.876
										c-0.341-4.622,5.147-4.847,7.005-8.156c-1.482-3.342-4.995-4.448-7.591-6.337C92.953,52.1,90.899,42.762,97.96,30.553
										c3.739-6.467-3.342-8.019-5.881-11.644c-1.958-2.799-8.613-1.827-6.785-7.174c1.505-4.401,5.612-6.757,10.069-8.831
										c14.998-6.978,26.12-0.486,35.813,9.951c6.125,6.594,12.086,10.125,20.884,5.271c2.327-1.283,5.344-1.5,8.09-1.798
										c4.596-0.5,8.763,1.2,11.43,4.749c2.827,3.763,0.358,7.805-1.396,11.292c-1.348,2.683-3.475,5.057-5.567,7.268
										c-4.995,5.286-8.048,9.737-2.268,17.36c4.462,5.887,0.201,9.432-9.066,8.294c-0.824,15.693,13.413,18.76,22.557,26.049
										c3.483,2.777,5.418,3.737,1.566,8.124c-8.089,9.211-6.612,13.521,3.335,19.988c11.823,7.682,23.991,12.209,38.36,13.677
										c8.994,0.921,16.937,9.229,27.139,9.599c2.752,0.102,5.485,0.682,8.228,1.048c8.453,1.127,15.29,0.855,11.813-11.114
										c-0.652-2.251,0.927-5.412,2.108-7.848c0.932-1.918,3.001-3.248,5.392-2.904c2.748,0.395,2.833,2.693,3.245,4.887
										c1.826,9.686,5.33,12.176,14.945,10.878c5.8-0.783,11.628-1.396,17.402-2.338c5.946-0.975,8.011-3.505,2.474-8.055
										c-2.66-2.189-3.24-4.201,0.618-5.046c11.305-2.479,16.347-13.242,25.286-18.922c3.437-2.182,5.749-5.518,10.342-3.756
										c3.362,1.291,5.896,0.025,8.338-2.269c2.238-2.106,4.769-2.973,7.265-0.214c4.261,4.712,5.693,11.346,13.536,13.761
										c4.366,1.348-4.101,7.159-1.499,12.307c1.146,2.266-2.464,1.073-3.997,1.269c-9.048,1.153-14.103,6.989-16.541,15.113
										c-2.795,9.309-4.906,18.821-7.393,28.225c-0.713,2.693-1.486,5.807-5.054,5.709c-5.296-0.145-5.865,3.059-6.119,7.174
										c-0.208,3.36-1.229,6.659-1.614,10.02c-0.387,3.371,2.12,8.286-3.589,8.859c-4.604,0.46-4.129-4.51-5.715-7.271
										c-1.952-3.4-1.393-7.936-4.567-10.61c-4.439,0.119-1.931,8.076-7.724,6.242c-2.804-0.885-3.481-3.303-4.235-5.655
										c-1.461-4.549,0.642-7.729,4.085-10.389c1.711-1.323,3.451-2.632,5.01-4.122c1.668-1.595,2.31-3.662,1.664-5.941
										c-0.803-2.838-3.212-2.436-5.333-2.429c-3.399,0.011-6.809-0.033-10.196,0.217c-6.771,0.497-13.098,2.248-15.771-7.827
										c-0.972-3.661-8.954-5.434-14.569-5.502c-1.626-0.018-2.757,1.41-3.167,2.987c-0.678,2.61,1.081,4.278,2.987,5.177
										c6.313,2.969,5.947,5.641,0.45,9.356c-1.82,1.229-5.639,4.561-2.119,6.645c9.276,5.503,5.403,16.091,10.049,23.254
										c1.08,1.664,0.813,4.201,1.172,6.333c1.615,9.6-0.739,12.071-10.113,10.632c-9.751-1.497-13.514,1.954-14.694,11.749
										c-0.835,6.935-5.642,11.665-12.111,14.007c-7.313,2.643-12.955,7.069-17.048,13.583c-4.702,7.489-12.325,12.031-18.578,17.896
										c-4.222,3.963-9.697,6.348-11.098,12.818c-0.468,2.164-2.951,3.81-4.938,3.756c-8.503-0.225-11.232,9.726-19.684,10.49
										c-3.567,0.326-4.912,6.551-4.226,11.22c0.896,6.101,1.778,12.202,2.528,18.32c0.694,5.659-0.09,11.19-2.889,16.172
										c-3.157,5.618-4.281,11.277-3.221,17.77c0.866,5.314,1.392,10.375-6.411,12.923c-4.593,1.497-8.287,7.472-1.336,12.851
										c-7.883,0.501-14.14,1.526-17.378,10.009c-2.678,7.011-9.634,7.599-14.993,2.302c-5.361-5.296-8.863-11.469-10.216-19.252
										c-1.9-10.93-5.476-21.471-11.947-30.751c-0.354-0.508-0.943-0.932-1.094-1.486c-6.528-23.99-18.801-46.049-23.845-70.524
										c-1.869-9.066-3.237-18.237-4.694-27.384c-1.026-6.435-1.287-12.741,0.763-19.227C78.62,220.271,74.586,213.217,72.634,205.637z" />
									</g>
								</svg>
							</span>
							<span class="d-inline-flex footerlocic">
								<div id="popup4" class="overlay">
									<div class="popup">
										<img src="/img/Footer/coffee_in_Delhi_H.O..png" width="20%" height="auto">
										<h3
											style="color: black; font-size: 40px; font-family: 'Stalemate'; margin-top: -7%; margin-left: 19%;">
											Auormatic Coffee and Scenic Places in Delhi</h3><br>
										<h4 style="color: black; font-size: 17px;">Address:- 30/28, IIIrd Floor,
											Opposite Mughal
											Mahal Restaurant,
											East Patel Nagar, New Delhi, Delhi 110008</h4><br>
										<h4 style="color: black; font-size: 17px">Contact:-
											7290099970,8588829128,8178669522
											Email- kanika.segan@jetsavetours.com
										</h4><br>

										<h4 style="color: black; font-size:17px">

											Website : www.jetsavetours.com
										</h4>

										<a class="close" href="#footerlocation4">&times;</a>

									</div>
								</div>
								<a href="#popup4">
									<svg xmlns="http://www.w3.org/2000/svg" width="25px" height="25px"
										viewBox="0 0 400 400" ID="footerlocation1">
										<g>
											<path d="M198.242,339.812c-49.068-59.315-96.884-117.269-115.047-192.772
											c-11.882-49.396,8.23-98.723,49.873-126.726c40.538-27.239,93.845-27.075,134.412,0.437c41.287,28.002,60.637,77.752,49.463,127.08
											C304.5,202.703,248.551,294.123,198.242,339.812z M240.008,120.209c-0.123-21.598-18.043-39.558-39.681-39.762
											c-21.652-0.232-39.83,17.333-40.389,39.012c-0.572,22.565,18.341,41.574,40.88,41.056
											C222.375,160.025,240.143,141.738,240.008,120.209z" />
											<path class="jetsaveblack" d="M60.493,400c0-13.137,0-24.541,0-37.187c93.382,0,185.66,0,279.015,0
											c0,12.672,0,24.077,0,37.187C247.08,400,154.801,400,60.493,400z" />
										</g>
									</svg>
								</a>
								<div id="popup5" class="overlay">
									<div class="popup">
										<img src="/img/Footer/Fresh_Salad_In_Gurugram.png" width="20%" height="auto">
										<h3
											style="color: black; font-size: 35px; font-family: 'Stalemate'; margin-top: -7%; margin-left: 19%;">
											Brimming City with well-dressed salads of Gurgaon</h3><br>
										<h4 style="color: black; font-size: 17px;">Address:- F-16, Lower Ground Floor
											Sushant
											Shopping Arcade, Sushant
											Lok-1, Gurgaon - 122009.</h4><br>
										<h4 style="color: black; font-size: 17px">Contact:-
											7290099970,8588829128,8178669522
											Email- kanika.segan@jetsavetours.com
										</h4><br>

										<h4 style="color: black; font-size:17px">

											Website : www.jetsavetours.com
										</h4>

										<a class="close" href="#footerlocation4">&times;</a>

									</div>
								</div>
								<a href="#popup5">
									<svg xmlns="http://www.w3.org/2000/svg" width="25px" height="25px"
										viewBox="0 0 400 400" ID="footerlocation2">
										<g>
											<path d="M198.242,339.812c-49.068-59.315-96.884-117.269-115.047-192.772
											c-11.882-49.396,8.23-98.723,49.873-126.726c40.538-27.239,93.845-27.075,134.412,0.437c41.287,28.002,60.637,77.752,49.463,127.08
											C304.5,202.703,248.551,294.123,198.242,339.812z M240.008,120.209c-0.123-21.598-18.043-39.558-39.681-39.762
											c-21.652-0.232-39.83,17.333-40.389,39.012c-0.572,22.565,18.341,41.574,40.88,41.056
											C222.375,160.025,240.143,141.738,240.008,120.209z" />
											<path class="jetsaveblack" d="M60.493,400c0-13.137,0-24.541,0-37.187c93.382,0,185.66,0,279.015,0
											c0,12.672,0,24.077,0,37.187C247.08,400,154.801,400,60.493,400z" />
										</g>
									</svg>
								</a>
								<div id="popup6" class="overlay">
									<div class="popup">
										<img src="/img/Footer/Rasgulla_in_Kolkata.png" width="20%" height="auto">
										<h3
											style="color: black; font-size: 40px; font-family: 'Stalemate'; margin-top: -7%; margin-left: 19%;">
											Rasgulla, Trams & Warm Hearts in Kolkata</h3><br>
										<h4 style="color: black; font-size: 17px;">Address:- 55/55/1, Chowringhee Road,
											2nd
											Floor,
											Room No-29,
											Chowringhee Court, (Above Maharaja Restaurant) Kolkata - 700 071</h4><br>
										<h4 style="color: black; font-size: 17px">Contact:-
											7290099970,8588829128,8178669522
											Email- kanika.segan@jetsavetours.com
										</h4><br>

										<h4 style="color: black; font-size:17px">

											Website : www.jetsavetours.com
										</h4>

										<a class="close" href="#footerlocation4">&times;</a>

									</div>
								</div>
								<a href="#popup6">
									<svg xmlns="http://www.w3.org/2000/svg" width="25px" height="25px"
										viewBox="0 0 400 400" ID="footerlocation3">
										<g>
											<path d="M198.242,339.812c-49.068-59.315-96.884-117.269-115.047-192.772
											c-11.882-49.396,8.23-98.723,49.873-126.726c40.538-27.239,93.845-27.075,134.412,0.437c41.287,28.002,60.637,77.752,49.463,127.08
											C304.5,202.703,248.551,294.123,198.242,339.812z M240.008,120.209c-0.123-21.598-18.043-39.558-39.681-39.762
											c-21.652-0.232-39.83,17.333-40.389,39.012c-0.572,22.565,18.341,41.574,40.88,41.056
											C222.375,160.025,240.143,141.738,240.008,120.209z" />
											<path class="jetsaveblack" d="M60.493,400c0-13.137,0-24.541,0-37.187c93.382,0,185.66,0,279.015,0
											c0,12.672,0,24.077,0,37.187C247.08,400,154.801,400,60.493,400z" />
										</g>
									</svg>
								</a>
								<div id="popup7" class="overlay">
									<div class="popup">
										<img src="/img/Footer/Bollywood_cutting_Chai_with_Samosa_in_Mumbai 03.png"
											width="20%" height="auto">
										<h3
											style="color: black; font-size: 40px; font-family: 'Stalemate'; margin-top: -7%; margin-left: 19%;">
											Bollywood Cutting Chai with Samosa in
											Mumbai</h3><br>
										<h4 style="color: black; font-size: 17px;">Address:- 401,402,403 4th Floor,Davar
											House
											197/199 Dr
											D.N Road, Fort Mumbai 400001</h4><br>
										<h4 style="color: black; font-size: 17px">Contact:-
											7290099970,8588829128,8178669522
											Email- kanika.segan@jetsavetours.com
										</h4><br>

										<h4 style="color: black; font-size:17px">

											Website : www.jetsavetours.com
										</h4>

										<a class="close" href="#footerlocation4">&times;</a>

									</div>
								</div>
								<a href="#popup7">
									<svg xmlns="http://www.w3.org/2000/svg" width="25px" height="25px"
										viewBox="0 0 400 400" ID="footerlocation4">
										<g>
											<path d="M198.242,339.812c-49.068-59.315-96.884-117.269-115.047-192.772
											c-11.882-49.396,8.23-98.723,49.873-126.726c40.538-27.239,93.845-27.075,134.412,0.437c41.287,28.002,60.637,77.752,49.463,127.08
											C304.5,202.703,248.551,294.123,198.242,339.812z M240.008,120.209c-0.123-21.598-18.043-39.558-39.681-39.762
											c-21.652-0.232-39.83,17.333-40.389,39.012c-0.572,22.565,18.341,41.574,40.88,41.056
											C222.375,160.025,240.143,141.738,240.008,120.209z" />
											<path class="jetsaveblack" d="M60.493,400c0-13.137,0-24.541,0-37.187c93.382,0,185.66,0,279.015,0
											c0,12.672,0,24.077,0,37.187C247.08,400,154.801,400,60.493,400z" />
										</g>
									</svg>
								</a>
								<div id="popup8" class="overlay">
									<div class="popup">
										<img src="/img/Footer/Vada_Pao_in_Pune.png" width="20%" height="auto">
										<h3
											style="color: black; font-size: 40px; font-family: 'Stalemate'; margin-top: -7%; margin-left: 19%;">
											Fastest streatfood for fastest minds in Pune</h3><br>
										<h4 style="color: black; font-size: 17px;">Address:- Office no. 201, Gulmohar
											Centre
											Point,
											Opp. Viman Nagar
											Entrance, Off Nagar Road, Pune - 411014</h4><br>
										<h4 style="color: black; font-size: 17px">Contact:-
											7290099970,8588829128,8178669522
											Email- kanika.segan@jetsavetours.com
										</h4><br>

										<h4 style="color: black; font-size:17px">

											Website : www.jetsavetours.com
										</h4>

										<a class="close" href="#footerlocation4">&times;</a>
									</div>
								</div>
								<a href="#popup8">
									<svg xmlns="http://www.w3.org/2000/svg" width="25px" height="25px"
										viewBox="0 0 400 400" ID="footerlocation5">
										<g>
											<path d="M198.242,339.812c-49.068-59.315-96.884-117.269-115.047-192.772
											c-11.882-49.396,8.23-98.723,49.873-126.726c40.538-27.239,93.845-27.075,134.412,0.437c41.287,28.002,60.637,77.752,49.463,127.08
											C304.5,202.703,248.551,294.123,198.242,339.812z M240.008,120.209c-0.123-21.598-18.043-39.558-39.681-39.762
											c-21.652-0.232-39.83,17.333-40.389,39.012c-0.572,22.565,18.341,41.574,40.88,41.056
											C222.375,160.025,240.143,141.738,240.008,120.209z" />
											<path class="jetsaveblack" d="M60.493,400c0-13.137,0-24.541,0-37.187c93.382,0,185.66,0,279.015,0
											c0,12.672,0,24.077,0,37.187C247.08,400,154.801,400,60.493,400z" />
										</g>
									</svg>
								</a>
								<div id="popup9" class="overlay">
									<div class="popup">
										<img src="/img/Footer/Biryani_in_Hyderabad copy.png" width="20%" height="auto">
										<h3
											style="color: black; font-size: 40px; font-family: 'Stalemate'; margin-top: -7%; margin-left: 19%;">
											Hyderabad's Biryani + saalan + salad = evergreen classic</h3><br>
										<h4 style="color: black; font-size: 17px;">Address:- Jetsave India Tours Pvt Ltd
											C/o
											UNIGLOBE Sameera Travel
											2-30-44, Staff Road, Wahab Nagar, Sikh Village, Secunderabad - 500 009 </h4>
										<br>
										<h4 style="color: black; font-size: 17px">Contact:-
											7290099970,8588829128,8178669522
											Email- kanika.segan@jetsavetours.com
										</h4><br>

										<h4 style="color: black; font-size:17px">

											Website : www.jetsavetours.com
										</h4>

										<a class="close" href="#footerlocation4">&times;</a>
									</div>
								</div>
								<a href="#popup9">
									<svg xmlns="http://www.w3.org/2000/svg" width="25px" height="25px"
										viewBox="0 0 400 400" ID="footerlocation6">
										<g>
											<path d="M198.242,339.812c-49.068-59.315-96.884-117.269-115.047-192.772
											c-11.882-49.396,8.23-98.723,49.873-126.726c40.538-27.239,93.845-27.075,134.412,0.437c41.287,28.002,60.637,77.752,49.463,127.08
											C304.5,202.703,248.551,294.123,198.242,339.812z M240.008,120.209c-0.123-21.598-18.043-39.558-39.681-39.762
											c-21.652-0.232-39.83,17.333-40.389,39.012c-0.572,22.565,18.341,41.574,40.88,41.056
											C222.375,160.025,240.143,141.738,240.008,120.209z" />
											<path class="jetsaveblack" d="M60.493,400c0-13.137,0-24.541,0-37.187c93.382,0,185.66,0,279.015,0
											c0,12.672,0,24.077,0,37.187C247.08,400,154.801,400,60.493,400z" />
										</g>
									</svg>
								</a>
								<div id="popup10" class="overlay">
									<div class="popup">
										<img src="/img/Footer/dosa_in_Bengaluru.png" width="20%" height="auto">
										<h3
											style="color: black; font-size: 40px; font-family: 'Stalemate'; margin-top: -7%; margin-left: 19%;">
											Dosa & Sambhar - the majistic Combo of Bengaluru</h3><br>
										<h4 style="color: black; font-size: 17px;">Address:- No 2/2 Rajani Nest, 2nd
											Floor
											Bangiappa Garden,Behind
											ICICI Bank Langford Road Bangalore-560027 </h4><br>
										<h4 style="color: black; font-size: 17px">Contact:-
											7290099970,8588829128,8178669522
											Email- kanika.segan@jetsavetours.com
										</h4><br>

										<h4 style="color: black; font-size:17px">

											Website : www.jetsavetours.com
										</h4>

										<a class="close" href="#footerlocation4">&times;</a>
									</div>
								</div>
								<a href="#popup10">
									<svg xmlns="http://www.w3.org/2000/svg" width="25px" height="25px"
										viewBox="0 0 400 400" ID="footerlocation7">
										<g>
											<path d="M198.242,339.812c-49.068-59.315-96.884-117.269-115.047-192.772
											c-11.882-49.396,8.23-98.723,49.873-126.726c40.538-27.239,93.845-27.075,134.412,0.437c41.287,28.002,60.637,77.752,49.463,127.08
											C304.5,202.703,248.551,294.123,198.242,339.812z M240.008,120.209c-0.123-21.598-18.043-39.558-39.681-39.762
											c-21.652-0.232-39.83,17.333-40.389,39.012c-0.572,22.565,18.341,41.574,40.88,41.056
											C222.375,160.025,240.143,141.738,240.008,120.209z" />
											<path class="jetsaveblack" d="M60.493,400c0-13.137,0-24.541,0-37.187c93.382,0,185.66,0,279.015,0
											c0,12.672,0,24.077,0,37.187C247.08,400,154.801,400,60.493,400z" />
										</g>
									</svg>
								</a>
								<div id="popup11" class="overlay">
									<div class="popup">
										<img src="/img/Footer/MysorePak_In_Chennai.png" width="20%" height="auto">
										<h3
											style="color: black; font-size: 40px; font-family: 'Stalemate'; margin-top: -7%; margin-left: 19%;">
											Scrumptious Mysore Pak of Chennai</h3><br>
										<h4 style="color: black; font-size: 17px;">Address:- 102, Marshalls Road, Tripti
											Apartments, Ground Floor, B
											Block, Egmore, Chennai - 600008 </h4><br>
										<h4 style="color: black; font-size: 17px">Contact:-
											7290099970,8588829128,8178669522
											Email- kanika.segan@jetsavetours.com
										</h4><br>

										<h4 style="color: black; font-size:17px">

											Website : www.jetsavetours.com
										</h4>

										<a class="close" href="#footerlocation4">&times;</a>
									</div>
								</div>
								<a href="#popup11">
									<svg xmlns="http://www.w3.org/2000/svg" width="25px" height="25px"
										viewBox="0 0 400 400" ID="footerlocation8">
										<g>
											<path d="M198.242,339.812c-49.068-59.315-96.884-117.269-115.047-192.772
											c-11.882-49.396,8.23-98.723,49.873-126.726c40.538-27.239,93.845-27.075,134.412,0.437c41.287,28.002,60.637,77.752,49.463,127.08
											C304.5,202.703,248.551,294.123,198.242,339.812z M240.008,120.209c-0.123-21.598-18.043-39.558-39.681-39.762
											c-21.652-0.232-39.83,17.333-40.389,39.012c-0.572,22.565,18.341,41.574,40.88,41.056
											C222.375,160.025,240.143,141.738,240.008,120.209z" />
											<path class="jetsaveblack" d="M60.493,400c0-13.137,0-24.541,0-37.187c93.382,0,185.66,0,279.015,0
											c0,12.672,0,24.077,0,37.187C247.08,400,154.801,400,60.493,400z" />
										</g>
									</svg>
								</a>

							</span>
							<span id="footermob">
								<h3 class="tophead text-center">HeadOffice</h3>
								<h3 class="text-center">New Delhi 30/28, III floor, Opposite Mughal Mehal Restaurant,
									East Patel Nagar, New Delhi, Delhi 110008</h3>
								<h3 class="text-center">Hyderabad</h3>
								<h3 class="text-center">Chennai</h3>
								<h3 class="text-center">Bangalore</h3>
								<h3 class="text-center">Pune</h3>
								<h3 class="text-center">Kolkata</h3>
								<h3 class="text-center">Gurugram</h3>
								<h3 class="text-center">Mumbai</h3>
								<h3 class="text-center">Delhi</h3>
							</span>
						</div>
					</div>
				</section>
			</footer>








			<!-- testing code before puttin it in the place -->

	</div>

	<!-- Optional JavaScript Bootstrap-->

	<!-- custom script -->
	<script>
		$('#smrtform').on('click', '.smrtremove', function () {
			$('.smrtremove').closest('#smrtform').find('.bgjetsave').not(':first').last().remove();
		});
		$('#smrtform').on('click', '.clone', function () {
			$('.clone').closest('#smrtform').find('.bgjetsave').first().clone().appendTo('.results');
		});
	</script>
	<script>
		function showdes() {
			document.getElementById("desthover").style.width = "100%";
		}


	</script>



	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

	<!-- Custom JS file -->
	<script type="text/javascript" src="JetsaveStyle.js"></script>
	<!-- script from code pen for testing -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.jsd"></script>

</body>

<!--Start of Tawk.to Script-->
<script type="text/javascript">
	var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
	(function () {
		var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
		s1.async = true;
		s1.src = 'https://embed.tawk.to/5d4ff7bf77aa790be32e6497/default';
		s1.charset = 'UTF-8';
		s1.setAttribute('crossorigin', '*');
		s0.parentNode.insertBefore(s1, s0);
	})();
</script>
<!--End of Tawk.to Script-->

<script>
	$(function () {

		// contact form animations
		$('#contact').click(function () {
			$('#contactForm').fadeToggle();
		})
		$(document).mouseup(function (e) {
			var container = $("#contactForm");

			if (!container.is(e.target) // if the target of the click isn't the container...
				&& container.has(e.target).length === 0) // ... nor a descendant of the container
			{
				container.fadeOut();
			}
		});

	});
</script>

<script>




	$(document).ready(function () {
		$('.figiimage').hide();
		$('.greeceimage').hide();
		$('.rajisthanimage').hide();
		$('.londonimage').show();

		$("#london").click(function () {
			$('.greeceimage').hide();
			$('.figiimage').hide();
			$('.rajisthanimage').hide();
			$('.londonimage').show();
			$('.londonimage1').hide();
			$('.london1').hide();


		});
	});

	$(document).ready(function () {
		$('.figiimage').hide();
		$('.greeceimage').hide();
		$('.rajisthanimage').hide();
		$('.londonimage').hide();
		$("#greece").click(function () {
			$('.greeceimage').show();
			$('.nopad2').show();
			$('.figiimage').hide();
			$('.rajisthanimage').hide();
			$('.londonimage').hide();
			$('.londonimage1').hide();
			$('.london1').hide();
		});
	});

	$(document).ready(function () {
		$('.figiimage').hide();
		$('.greeceimage').hide();
		$('.rajisthanimage').hide();
		$('.londonimage').hide();
		$("#figi").click(function () {
			$('.greeceimage').hide();
			$('.figiimage').show();
			$('.nopad3').show();
			$('.rajisthanimage').hide();
			$('.londonimage').hide();
			$('.londonimage1').hide();
			$('.london1').hide();
		});
	});

	$(document).ready(function () {
		$('.figiimage').hide();
		$('.greeceimage').hide();
		$('.rajisthanimage').hide();
		$('.londonimage').hide();
		$("#rajisthan").click(function () {
			$('.greeceimage').hide();
			$('.figiimage').hide();
			$('.rajisthanimage').show();
			$('.nopad4').show();
			$('.londonimage').hide();
			$('.londonimage1').hide();
			$('.london1').hide();
		});
	});


</script>

<!-- Global site tag (gtag.js) - Google Analytics -->		
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-147992183-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-147992183-1');
</script>

<script>
	// Add active class to the current button (highlight it)
	var poption = document.getElementsByClassName("poption");
	var kska = header.getElementsByClassName("kska");
	for (var i = 0; i < kska.length; i++) {
		kska[i].addEventListener("click", function () {
			var current = document.getElementsByClassName("activekau");
			current[0].className = current[0].className.replace(" activekau", "");
			this.className += " activekau";
		});
	}
</script>
<script type="text/javascript">
	$(window).load(function () {
		$(".loader").fadeOut("slow");
	});
</script>
<script language="javascript">
	populateCountries("country", "state"); // first parameter is id of country drop-down and second parameter is id of state drop-down
	populateCountries("country2");
	populateCountries("country2");
</script>
<script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>

</html>