<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css"
        integrity="sha256-ECB9bbROLGm8wOoEbHcHRxlHgzGqYpDtNTgDTyDz0wg=" crossorigin="anonymous" />
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        
        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <title>Signup With JET-SAVE</title>
</head>
        <style>
                #name, #username, #email, #phone, #password, #facebook, #instagram, #twitter, #youtube, #bio{
                    width: 46%;
                }
                a{
                    text-decoration: none;
                    color: red;
                }
                * {
	 box-sizing: border-box;
}

 .back-button {
    width: 51px;
    height: 50px;
    position: absolute;
    top: 6%;
    left: 4%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: red 1px solid;
    overflow: hidden;
    transition: background 0.3s ease;
}
 .back-button.back .arrow-wrap {
	 left: -50%;
}
 .back-button:hover {
	 background: red;
}
 .back-button:hover .arrow-wrap span {
	 background: #fff;
}
 .back-button .arrow-wrap {
	 display: block;
	 position: absolute;
	 height: 70%;
	 width: 70%;
	 top: 50%;
	 left: 50%;
	 transform: translate(-50%, -50%);
	 transition: left 0.3s ease;
}
 .back-button .arrow-wrap span {
	 height: 1px;
	 left: 0;
	 top: 50%;
	 background: red;
	 position: absolute;
	 display: block;
	 transition: background 0.3s ease;
}
 .back-button .arrow-wrap .arrow-part-1 {
	 width: 100%;
	 transform: translate(0, -50%);
}
 .back-button .arrow-wrap .arrow-part-2 {
	 width: 60%;
	 transform: rotate(-45deg);
	 transform-origin: 0 0;
}
 .back-button .arrow-wrap .arrow-part-3 {
	 width: 60%;
	 transform: rotate(45deg);
	 transform-origin: 0 0;
}
 
        </style>
<body>
       <a href="/login"> <div class="back-button">
            <div class="arrow-wrap">
                <span class="arrow-part-1"></span>
                <span class="arrow-part-2"></span>
                <span class="arrow-part-3"></span>
            </div>
        </div></a>
            
        <form action="/travelogue-guest/insert" method="POST" enctype="multipart/form-data">
          <center>     <h2 style="color: red">Signup With Jetsave</h2>
                <input type="text" name="name" id="name" placeholder="Enter Name"><br><br>
                <input type="text" name="username" id="username" placeholder="Enter User-Name"><br><br>
                <input type="email" name="email" id="email" placeholder="Enter Email"><br><br>
                <input type="text" name="bio" id="bio" placeholder="Enter Bio"><br><br>
                <input type="date" name="dob" id="dob" class="button button-primary" placeholder="Enter dob"><br><br>
                <input type="text" name="phone" id="phone" placeholder="Enter Mobile Number"><br><br>
                <input type="password" name="psw" id="password" placeholder="Enter Password"><br><br>
                <input type="text" name="facebook" id="facebook" placeholder="Enter Facebook Link"><br><br>
                <input type="text" name="instagram" id="instagram" placeholder="Enter Instagram Link"><br><br>
                <input type="text" name="twitter" id="twitter" class="form control" placeholder="Enter Twitter"><br><br>
                <input type="text" name="youtube" id="youtube" placeholder="Enter Youtube"><br><br>
                <input type="file" name="image" id="image" class="button button-primary"><br><br>
                <input type="submit" id="submit" value="Signup" class="button button-primary">
                    <h5>Already Have AN Account? <a href="/login">Login</a></h5>
                </center>
        </form>
</body>
</html>