<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head> 
        <style>
                    body{
                        background-color: blue;
                    }
                    h1{
                        color: White;
                    }
                    h2{
                        color: white;
                    }
                    h2 a{
                        text-decoration: none;
                        color: white;
                    }
                        
                    
        </style>
<body>
            <h1>Hurray! Thanks for contacting Jetsave Holidays.
            Our team is prompt in your service and will get back to you with 4 to 5 working hours.
            Cheers and Godspeed !</h1> 

                    <center><h2> Go To <a href="/">Home</a></h2></center>
                    
        </body>
</html>