/*jetsave css*/
/*homepage*/

/*fonts*/

@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Mr+Dafoe|Parisienne|Stalemate');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');


@font-face {
    font-family: 'josefin_sansbold';
    src: url('E:/ANKIT/Time Trailblazer Private Limited/Brands/Buzz09/Clients/Jetsave India Tours/Website Development Code and Logins/Website Versions/V1/Jetsave website/CSS/fonts/josefinsans-bold-webfont.woff2') format('woff2'),
         url('E:/ANKIT/Time Trailblazer Private Limited/Brands/Buzz09/Clients/Jetsave India Tours/Website Development Code and Logins/Website Versions/V1/Jetsave website/CSS/fonts/josefinsans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'decalled_scriptregular';
    src: url('E:/ANKIT/Time Trailblazer Private Limited/Brands/Buzz09/Clients/Jetsave India Tours/Website Development Code and Logins/Website Versions/V1/Jetsave website/CSS/fonts/decalledscript-regular-webfont.woff2') format('woff2'),
         url('E:/ANKIT/Time Trailblazer Private Limited/Brands/Buzz09/Clients/Jetsave India Tours/Website Development Code and Logins/Website Versions/V1/Jetsave website/CSS/fonts/decalledscript-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.row{
	margin-right: 0px !important;
	margin-left: 0px !important
}
/*font names and classes*/

.jetsave-josefinreg{
	font-family: josefin_sansregular !important;
}
.jetsave-josefinbold{
	font-family: josefin_sansbold !important;
}
.jetsave-robotobold{
	font-family: robotobold !important;
}
.jetsave-robotoregular{
	font-family: robotoregular !important;
}
.jetsave-Parisienne{
	font-family: 'Parisienne', cursive!important;
}

.Jetsave-mrdafoe{
font-family: 'Mr Dafoe', cursive !important;
}
.Jetsave-stalemate{
font-family: 'Stalemate', cursive !important;
}
.Jetsave-Lobster{
font-family: 'Lobster', cursive !important;
}

.Jetsave-Pacfifico{
font-family: 'Pacifico', cursive !important;
}
.Jetsave-Roboto{
font-family: 'Roboto', sans-serif !important;
}

/*colors*/

.jetsavered{
	color: #ef3a3a;
}

.jetsaveblack{
	color: #333333;
	fill: #333333;
}

.jetsaveplatinum{
	color: #eae7dc;
}

.minionyellow{
	color: #ffe251;
}

.jetsaveblue{
	color: #3b8beb;
}

.jetsavefuchsia{
	color: #c04abc;
}

.white{
	color: #ffffff;
}



/*body CSS*/
/*body{
	padding: 0px 5%;
}*/

/*FORM*/
/*code for form: 
<form action="/action_page.php" method="get">
								<input type="text" name="email" value="Enter your email ID" class="formfill">
								<input type="submit" value="Submit" class="formbutton">
							</form>*/

.formfill{
    width: 300px;
    height: 35px;
    border-style: solid;
    border-width: 2px;
    border-color: #fff;
    border-radius: 5px;
    padding-left: 5%;
}


.formbutton{
	background-color: #ef3a3a;
	border-color: #ef3a3a;
	border-width: 2px;
	border-style: solid;
	border-radius: 5px;
	width: 100px;
	text-align: center;
	margin-left: -25px;
	height: 35px;
}

/*form styling ends*/

h1, h2, h3, h4, h5, h6{
	font-family: josefin_sansbold;
	font-weight: bold;
	padding: 0px 4%;

}

h1{
	font-size: 48px;
}

.h1small{
	font-size: 22px;
}

h2{
	font-size: 36px;
}	

h3{
	font-size: 24px
}

h4{
	font-size: 16px;
}

p{
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: medium;

}


h5{
	font-size: 14px;
}

h6{
	font-size: 12px;
}

img{
	
}

.internal-container{
	margin: 0px 5%;
}

.nopad{
	padding: 0px !important;
}

.nomar{
	margin: 0px !important;
}

.topmargin{
	margin-top: 80px;
}

.botmargin{
	margin-bottom: 56px;
}

.carousel-indicators li {
    box-sizing: content-box;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 150px;
    height: 3px;
    margin-right: 0px;
    margin-left: 0px;
    transform: translateY(56px);
    text-indent: -999px;
    cursor: pointer;
    background-color: #eae7dc;
    background-clip: padding-box;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: 1;
    transition: background-color .6s ease;
}

.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 15;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
}

.carousel-indicators .active{
	opacity: 1;
	background-color: #ef3a3a;
}

.height80{
	height: 80vh;
}

/*Body css finish*/

/*Header section*/


.header{
	width: 100%;
	height: 120px;
	margin: 0 auto;
	z-index: 1;
	position: fixed;
	top: 0.1%;
}

.on-top{
	z-index: 5;
}


.header-wrapper{
	max-width: 1280px;
	padding: 15px 1%;
	margin: 0 auto;
}

.svglogo{
	fill: #fff;
}

.svglogo:hover .logojet{
	fill:#ef3a3a;
}

.header-top{
	position: absolute;
    right: 10%;
    margin-top: 2%;
}



.header-top-item{
    width: 120px;
    font-size: 13px;
    color: #fff;
    text-transform: none;
    text-decoration: none;
    line-height: 20px;
    cursor: pointer;
}

.header-top a{
	color: #fff;
	display: inline-flex;
	border-right: 2px solid #fff;
	fill: #fff;
}

.top-link{
	padding-left: 4%;
	width: 100%;
}

/*Main Menu*/
.main-nav {
    position: absolute;
    display: inline-flex;
    vertical-align: bottom;
    right: 7%;
    border-bottom: 1px solid rgba(255,255,255,.2);
    font-size: 0;
    margin-top: 65px;
}

	/*Destination Hover CSS starts*/

#desthover{

	z-index: 0.9;
	width: 0;
	position: fixed;
	bottom: 0;
	left: 0;
	height: 100vh;
	overflow-x: hidden;
	background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("E:/ANKIT/Time Trailblazer Private Limited/Brands/Buzz09/Clients/Jetsave India Tours/Website Development Code and Logins/Website Versions/V1/Jetsave website/CSS/img/Menu/ourdest.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
	transition-duration: 0.3s;

}



	/*Destination hover CSS ends*/



/*.main-nav-item:hover{
	border-bottom: 2px solid #ef3a3a;
	transform: translate(2px)
}
*/
.main-nav-item{
	color: #fff;
	min-width: 120px;
	max-width: 175px;
    text-decoration: none;
    font-size: 16px;
    display: inline-block;
    vertical-align: top;
    padding: 2% 1%;
    position: relative;
    cursor: pointer;
    -webkit-transition: opacity .5s cubic-bezier(.165,.84,.44,1);
    -moz-transition: opacity .5s cubic-bezier(.165,.84,.44,1);
    transition: opacity .5s cubic-bezier(.165,.84,.44,1);
}

.main-nav-item a{
	text-decoration: none;
	color: #fff;
}

/*Menu screens*/



/*menu screens end*/

#carouselslider{
	top: -10px;
	left: 0px;
	right: 100%;
/*	transform: translateY(-150px);*/
	height: 100vh;
	overflow: hidden;
}

.topindicator{
	top: 85vh;
}

#carousel0{
	margin: 0;
}

#hero-text{
	top: 40%;
	position: absolute;;
}

/*Header section styling ends*/

/*.main-container{
	margin: 0 5%;
}*/

/*Hero Sllider*/



.about-jetsave{

}

.colpad{
	padding: 0px 4%;
}

.tophead{
	
	text-align: right;
	margin-bottom: -8px;
	color: #ef3a3a;
}

.bottomhead{
	font-family: 'Parisienne';
	font-size: 75px;
}

.full-height{
	height: 100vh
}

.full-width{
	width: 100%;
	padding-right: 0px !important;
	padding-left: 0px !important;
}
.textpad{
	padding:0px 4% 0px 12%;
}

.padding-left{
	padding: 0px 20% 0px 8%;
	text-align: justify;
}

.vidimg{
	margin-left: -9%;
}

.paramar{
	margin-top: 24px;
}

/*.bg1{
	z-index: 0;
	display: block;
	position: absolute;
	height: 50%;
	width: 50%;
}

#bg-text1{
	color: #eae7dc;
	font-size: 300px;
}

#content{
	position: absolute;
	z-index: 1;
}*/

.bgjetsave{
	background-image: url("E:/ANKIT/Time Trailblazer Private Limited/Brands/Buzz09/Clients/Jetsave India Tours/Website Development Code and Logins/Website Versions/V1/Jetsave website/CSS/img/Home Page/Jetsave.svg");
	background-repeat: no-repeat;
	background-size: 90% auto;
	background-position: -50% 40%;	
}

/*carousel styling*/
/*Our expert */
.bgourexpert{
	background-image: url("E:/ANKIT/Time Trailblazer Private Limited/Brands/Buzz09/Clients/Jetsave India Tours/Website Development Code and Logins/Website Versions/V1/Jetsave website/CSS/img/Home Page/Images/Experts.svg");
	background-repeat: no-repeat;
	background-size: 75% auto;
	background-position: 160% 50%;	
}

.psmall{
	font-size: 14px;
}

.carousel-container{
	margin: 0px 5% 0px 8%;
}
.subhead{
	color: #ef3a3a;
}

.ppad{
	padding: 0px 20% 0px 4%;
	text-align: justify;
}

.buzz1{
	text-align: left;
}
/*our expert ends*/

/*Traveller's Blog*/
.bgtravblog{
	background-image: url("E:/ANKIT/Time Trailblazer Private Limited/Brands/Buzz09/Clients/Jetsave India Tours/Website Development Code and Logins/Website Versions/V1/Jetsave website/CSS/img/Home Page/Images/Blogs.svg");
	background-repeat: no-repeat;
	background-size: 50% auto;
	background-position: -10% 50%;
}

/*Blog Code*/
a.blogh{
	color: #333333;
	text-align: justify;
}

.blogimg{
	width: 300px;
	height: auto;
}

.readmore{
	color: #ef3a3a;
}

.blogp{
	text-align: justify;
}

.blogpad{
/*	padding: 0px 4% 0px 5%;*/
	margin: 0px 3%;
	max-width: 300px;
	padding: 0px !important;
}
/*blog code ends*/
/*traveller's blog ends*/

/*people's choice carousel*/

.choice-height{
	height: 90vh;
	padding-top: 164px;
}

.botbor{
		border-bottom: 1px solid #fff;
		margin-bottom: 18px
}

.svgicon{
	fill: #ffffff;
	align-items: center;
	max-height: 50px;
	max-width: 50px;
}

.pc{
	color: #fff;
	text-align: center;
	padding-top: 10px
}

.bgpeople{
	background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('E:/ANKIT/Time Trailblazer Private Limited/Brands/Buzz09/Clients/Jetsave India Tours/Website Development Code and Logins/Website Versions/V1/Jetsave website/CSS/img/Home Page/Images/Home Page People Choice Bg.png');
	background-size: 100%;
	position: relative;	
    background-repeat:no-repeat;
}

.booktrip{
	transform: translateY(50%);
}

#peoplechoicehead{
	margin-top: 1%;
	float: left;
}

/*choice options*/
.poption a:active{
	transform: translate3d(1px 1px);
	box-shadow: 2px;
	visibility: hidden;
}


.poption img{
	height: auto;
	width: 300px;
}


.btnicon{
	content: "img: CSS/img/Home Page/Images/People_choice Book this trip Button.svg";
}
.btnicon::after{
	background-image: url('E:/ANKIT/Time Trailblazer Private Limited/Brands/Buzz09/Clients/Jetsave India Tours/Website Development Code and Logins/Website Versions/V1/Jetsave website/CSS/img/Home Page/Images/People_choice Book this trip Button.svg');
}


/*verified traveller section*/

#bgfeatured1{
	background-image: url('E:/ANKIT/Time Trailblazer Private Limited/Brands/Buzz09/Clients/Jetsave India Tours/Website Development Code and Logins/Website Versions/V1/Jetsave website/CSS/img/Home Page/Images/Home Page Verified Traveler Travelouge Sides.png');
	background-size: 110%;
	position: relative;	
    background-repeat:no-repeat;
}

#bgfeatured2{
	background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url('E:/ANKIT/Time Trailblazer Private Limited/Brands/Buzz09/Clients/Jetsave India Tours/Website Development Code and Logins/Website Versions/V1/Jetsave website/CSS/img/Home Page/Images/Home Page Verified Traveler Info.png');
	background-size: 100%;
	position: relative;	
    background-repeat:no-repeat;
}

.bgfeaturedtext{
	color: #fff;
}

#bgfeatured3{
	background-image: url('E:/ANKIT/Time Trailblazer Private Limited/Brands/Buzz09/Clients/Jetsave India Tours/Website Development Code and Logins/Website Versions/V1/Jetsave website/CSS/img/Home Page/Images/Home Page Verified Traveler Travelouge Sides.png');
	background-size: 110%;
	position: relative;	
    background-repeat:no-repeat;
}

/*.carousel-images {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 15;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
}

.carousel-images li {
    box-sizing: content-box;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 300px;
    height: auto;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-image: url('E:/ANKIT/Time Trailblazer Private Limited/Brands/Buzz09/Clients/Jetsave India Tours/Website Development Code and Logins/Website Versions/V1/Jetsave website/CSS/img/Home Page/Images/Home Page People Choice List.png');
    background-clip: padding-box;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity .6s ease;
}*/


.carousel-people{
	position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 15;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
}

.carousel-people{
	position: relative;
	text-align: center;
	top: auto;
    margin-top: 10px;
 }


.carousel-people li{
	display: inline-block;
	width: 100px;
    height: 100px;
    cursor: pointer;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    opacity: 0.4;
    overflow: hidden;
    transition: all .4s ease-in;
    vertical-align: middle;
    transform: translateY(0px);
}

.carousel-people img{
	height: 100px;
	width: 100px;
	display: block;
}

.carousel-people .active img {
	height: 200px;
	width: 200px;
	display: block;
}

#carouselveriftrav .carousel-people .active{
	width: 200px;
    height: 200px;
    opacity: 1;
    transition: all .2s;
    transform: translateY(-50%);
}

/*Trade association section*/

.tradepad

.bgtradeass{
	background-image: url("E:/ANKIT/Time Trailblazer Private Limited/Brands/Buzz09/Clients/Jetsave India Tours/Website Development Code and Logins/Website Versions/V1/Jetsave website/CSS/img/Home Page/Trade Association.svg");
	background-repeat: no-repeat;
	background-size: 50% auto;
	background-position: -10% 50%;
}

/*Foooter section*/

.bgfooter{
	background-color: #333333;
	padding-top: 56px;
	color: #fff;
	height: 102%;
}

.footer li{
	list-style: none;
}

.socialicons li{
	margin-left: 10px;
	margin-right: 10px;
	font-size: 40px;
	padding-left: 20px;
}


.colmar{
	margin: 0px 4% 0px 8%;
}

.footer h2{
	font-size: 24px;
}

.formtext{
	font-family: 'Stalemate', cursive;
	color: #fff;
	text-align: center;	
	font-size: 86px;
	font-weight: 200px;
}

.footermenu li a{
	color: #fff;
}

.Indiafooter{
	fill: #fff;
	height: 500px;
	width: 500px;
	margin-left: -75px;
	/*margin-top: -100px;*/
	transform: translateY(-15%);
	overflow: hidden;
	margin-bottom: 0px !important;
}

.Indiatext{
	font-family: 'Stalemate', cursive;
	color: #fff;
	text-align: center;	
	font-size: 75px;
}


#footerlocation1, #footerlocation2, #footerlocation3, #footerlocation4, #footerlocation5, #footerlocation6, #footerlocation7, #footerlocation8 {
	fill: #ef3a3a;
	vertical-align: top;
	overflow: hidden;
}

#footerlocation1 {
	transform: translate3d(7vh,-52vh,0vh);
}


#footerlocation2 {
	transform: translate3d(7vh,-55vh,0vh);
}

#footerlocation3 {
	transform: translate3d(24vh,-50vh,0vh);
}

#footerlocation4 {
	transform: translate3d(-10vh,-38vh,0vh);
}


#footerlocation5 {
	transform: translate3d(-8.5vh,-33vh,0vh);
}

#footerlocation6 {
	transform: translate3d(2vh,-35vh,0vh);
}

#footerlocation7 {
	transform: translate3d(-15vh,-23vh,0vh);
}

#footerlocation8 {
   	transform: translate3d(-13vh,-22vh,0vh);
}

















/*
/*
/*
/*
/*

CONTACT US PAGE STARTS HERE

*/

.hibg {
	background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('E:/ANKIT/Time Trailblazer Private Limited/Brands/Buzz09/Clients/Jetsave India Tours/Website Development Code and Logins/Website Versions/V1/Jetsave website/CSS/img/Contact Us Header Image.png');
	background-size: 100%;
	position: relative;	
    background-repeat:no-repeat;
    height: 80vh;
}

.contact-hi{
	position: absolute;
    right: 10%;
    top: 72%;
    transform: rotate(-10deg);
}

.contact-shy{
	right: 20%;
    position: absolute;
    top: 70%;
    transform: rotate(-10deg);
}

.bgvisjetsave{
	background-image: url("E:/ANKIT/Time Trailblazer Private Limited/Brands/Buzz09/Clients/Jetsave India Tours/Website Development Code and Logins/Website Versions/V1/Jetsave website/CSS/img/Home Page/Jetsave.svg");
	background-repeat: no-repeat;
	background-size: 55% auto;
    background-position: 110% 20%;	
	padding-bottom: 200px;
}

.viscard {
	display: block;
	position: relative;
	text-align: center;
	border-radius: 5px;
	height: 300px;
	margin-left: 15%;
	margin-top: -3%;
	background-color: #eae7dc;
	padding: 3% 0;

	-webkit-box-shadow: #6b6969 10px 15px 24px 2px;
  	-moz-box-shadow: #6b6969 10px 15px 24px 2px;
 	 box-shadow: #6b6969 10px 15px 24px 2px;


}

.viscard h3 a{
	text-decoration: none;

}

.postbg{
	background-image: url('E:/ANKIT/Time Trailblazer Private Limited/Brands/Buzz09/Clients/Jetsave India Tours/Website Development Code and Logins/Website Versions/V1/Jetsave website/CSS/img/Contact Us Section 01 Image 01.png');
	background-size: 100%;
	position: relative;	
    background-repeat:no-repeat;
    height: 100vh;
}


.postbox{
	float: right;
	margin-top: -40%;
	margin-right: 30%;
	position: relative;
}
.locationborder{
	margin-left: 30%;
	margin-top: 100px;
	font-family: decalled-script;
}

.locationborder:after{
    content:' ';
    position: absolute;
    display:block;
    width: 120px;
    margin: 0 0.5%;
    border: 3px solid #ffe251;
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
/*    box-shadow:inset 0 1px 1px #ffe251;*/

}

.locationtext{
	margin-left: 40%;
	margin-top: 32px;
}


.contactform{
	margin-top: 200px;
}

.cpimg{
	margin-left: 30%;
}

.form-left{
	padding-right: 20%;
}

.form-group{
	border-bottom: #ef3a3a 2px solid !important;
}

input{
	border: none !important;
}
::-webkit-input-placeholder {
   font-size: 32px;
}

:-moz-placeholder { /* Firefox 18- */
      font-size: 32px;
}

::-moz-placeholder {  /* Firefox 19+ */
      font-size: 32px;
}

:-ms-input-placeholder {
      font-size: 32px;
}

.contactbutn{
	align-items: center;
}



/*
/*
/*
/*
Profile page CSS starts here
*/

#memberprof{
	margin-top: 5%;
}

.socicda{
	fill: #333;
}

#userimg{
	padding: 0 3.7%;
}

.socialicons{
	padding: 0 15%;
	margin-top: 5%;
}

.socic{
	fill: #9a9a9a;
	margin: 5%;
}

.signintext{
	padding:3% 4%;
}

.formbuttonprof{
	background-color: #ef3a3a;
	border-color: #ef3a3a;
	border-width: 2px;
	border-style: solid;
	border-radius: 5px;
	width: 100px;
	text-align: center;
	margin-left: 15%;
	height: 35px;
}

.signbot{
	padding: 0 20%;
}

.signbotform{
	padding-left: 10%;
}

.formfillbot{
	width: 300px;
    height: 35px;
    border-style: solid;
    border-width: 2px;
    border-color: #eae7dc;
    border-radius: 5px;
    background-color: #eae7dc;
    padding-left: 5%;
    margin-bottom: 2%;
}

.formtextbot{
	color: black;
	font-size: 24px;
	margin-top: 1%;
}

.filterline{
	margin-top: 50px;
	min-height:10px;
	max-height: 50vh;
	border-top: black 2px solid;
	border-bottom: black 2px solid;
}

.filterlineinner{
    padding: 2%;
    text-align: center;
    vertical-align: middle;
    font-size: 24px;
}

.borderright{
	border-right: black 2px solid;
}
.filterdrop, .filterdrop{
	padding: 2% 5%;
    width: 200px;
    background-color: #eae7dc;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size: 1.2rem;
    border-width: 0px;
    -webkit-vertical-align:top;
    -moz-vertical-align:top;
    vertical-align:top;
}

.proftrav{
	min-height: 100px;
}

.proftravinner .proftravblogimg{
	width: 100%;
	height: max-content;
}


.proftravmar{
	margin:15px 0;
	padding: 0 1%;
	overflow: hidden;
}

.proftravl2{
	height: 295px;
}

.proftravl2{
	height:196px;
}

.proftrav-author{
	position: absolute;
	bottom: 10px;
    left: 30px;
}

.proftophead{
	
	text-align: left;
	color: #ef3a3a;
}

.profbottomhead{
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
	color: white;
}


/*Blog bottom styling*/
#blogbottom

#blogbottom

#proftravlbo{
	height: 196px;
}
.proftravlbo-author{
	position: absolute;
	bottom: 70px;
	left: 30px;
}

#proftravlbo .proftravblogimg{
	width: 100%;
	height: 196px;
	border-radius: 15px;
}


#blogbottom .proftophead{
	margin-top: 2%;
	margin-bottom: 0px;
	text-align: left;
	color: #ef3a3a;
}

#blogbottom .profbottomhead{
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
	color: black;
}




/*blogbottom ends*/


.proftrav-hover{
	display: none;
	position: absolute;
	bottom: 10px;
	left: 30px;
}

.proftravinner:hover .proftrav-author{
	display: block;
	transform: translateY(-200%);
	transition: 1.5s;
}

.proftravinner:hover .proftravlbo-author{
	display: block;
	transform: translateY(-20%);
	transition: 1.5s;
}

.proftravinner:hover .proftrav-hover{
	display: block;
}

#blogbottom{
	margin-top: 100px;
}

/*<!-- testing code before puttin it in the place -->*/
