
/*footer styling*/
.socialicons{
	padding: 0 0%;
	margin-top: 5%;
}

.Indiafooter {
    fill: #fff;
    height: 500px;
    width: 330px;
    margin-left: 2%;
    margin-top: 0;
    transform: translateY(0px);
    overflow: hidden;
    margin-bottom: 0px !important;
}

.footermenu  ol{
	margin-top: 0;
    margin-bottom: 1rem;
    text-align: center;
    padding-left: 0%;
}

.footermenu h2{
	text-align: center;
}

/*
/*
/*
/*
Profile page CSS starts here
*/

.signbot{
	padding: 0 10%;
}

.socic {
    fill: #9a9a9a;
    margin: 15% 5% 5% 5%;
}

.signbotform {
     padding-left: 0%; 
}

.socicda {
    fill: #333;
    height: 120px !important;
}

.borderright {
    border-right: 0;
}

.filterline {
    margin-top: 20px;
    margin-bottom: 20px;
    min-height: 10px;
    max-height: 50vh;
    border-top: black 2px solid;
}

.proftravmar {
    margin: 15px 0;
    padding: 0 6%;
    overflow: hidden;
}

.proftrav-hover{
	display: block;
	position: absolute;
	bottom: 10px;
	left: 30px;
}

.proftrav-author{
	display: block;
	transform: translateY(-150%);
	transition: 1.5s;
}

#proftravlbo .proftravblogimg {
    width: 100%;
    height: 196px;
    border-radius: 15px;
    box-shadow: 3px 4px 19px 0px #4f4f4f;
}