h1{
	font-size: 32px;
}

/*form styling*/
.formfill {
    width: 300px;
    height: 35px;
    border-style: solid;
    border-width: 2px;
    border-color: #fff;
    border-radius: 5px;
    padding-left: 5%;
    margin-left: 5%;
}

.formbutton {
    background-color: #ef3a3a;
    border-color: #ef3a3a;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    width: 100px;
    text-align: center;
    margin-left: 30%;
    margin-top: 10px;
    height: 35px;
}

#footermap, .footerlocic{
	-webkit-display: none !important;
	-moz-display:none !important;
	display: none !important;
}

#footermob{
	display: block !important;
	-webkit-display: block !important;
	-moz-display: block !important;
}


/*footer styling*/
.socialicons{
	padding: 0 0%;
	margin-top: 5%;
}

.Indiafooter {
    fill: #fff;
    height: 500px;
    width: 330px;
    margin-left: 2%;
    margin-top: 0;
    transform: translateY(0px);
    overflow: hidden;
    margin-bottom: 0px !important;
}

.footermenu  ol{
	margin-top: 0;
    margin-bottom: 1rem;
    text-align: center;
    padding-left: 0%;
}

.footermenu h2{
	text-align: center;
}

/*
/*
/*
/*
Index page CSS starts here
*/
#header{
	margin-top:10%;
}

#hero-text {
    top: 25%;
    position: absolute;
}

#carouselslider{
    height: 80vh;
    margin-top: 23%;
}
.topindicator {
    top: 57vh;
}

.contactform {
    margin: 20px;
    height: auto;
}

header .carousel-item img{
	height: 100%;
	width: auto !important;
}

#logosvg{
	height: 150px !important ;
	width: auto !important
}

.header-top{
	display: none !important;
}
.main-nav{
	display: none;
}


.blogp{
	display: none;
}

.bgpeople {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('/CSS/img/Home Page/Images/Home Page People Choice Bg.png');
    background-size: cover;
    /* position: relative; */
    background-position: center;
    background-repeat: no-repeat;
}

.choice-height {
    height: fit-content;
    padding-top: 52px;
}

#verifiedtravellercarousel{
	-webkit-display:none !important;
	-moz-display:none !important;
	display: none !important;
}

#peoplechoicehead{
	-webkit-display:none !important;
	-moz-display:none !importants;
	display: none !important;
}

#peoplechoiceheadmob{
	-webkit-display:block;
	-moz-display:block;
	display: block;
}


.poption img{
	border-radius: 15px;
	overflow: hidden;
	max-width: 80px;
	margin-top: 48px;
}



/*
/*
/*
/*
Contact Us page CSS starts here
*/


.hibg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('/CSS/img/Contact Us Header Image.png');
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
    height: 80vh;
    background-position: 30%;
}

.viscard {
    display: block;
    position: relative;
    text-align: center;
    border-radius: 5px;
    height: 300px;
    margin: -3% 2% 0px 2%;
    background-color: #eae7dc;
    padding: 3% 0;
    -webkit-box-shadow: #6b6969 10px 15px 24px 2px;
    -moz-box-shadow: #6b6969 10px 15px 24px 2px;
    box-shadow: #6b6969 10px 15px 24px 2px;
}

.bgvisjetsave {
    padding-bottom: 0px;
}

.postbg{
	height:auto;
}

.postbox{
	margin-top:2%;
}
/*
/*
/*
/*
Profile page CSS starts here
*/

.signbot{
	padding: 0 10%;
}

.socic {
    fill: #9a9a9a;
    margin: 15% 5% 5% 5%;
}

.signbotform {
     padding-left: 0%;
}

.socicda {
    fill: #333;
    height: 120px !important;
}

.borderright {
    border-right: 0;
}

.filterline {
    margin-top: 20px;
    margin-bottom: 20px;
    min-height: 10px;
    max-height: 50vh;
    border-top: black 2px solid;
}

.proftravmar {
    margin: 15px 0;
    padding: 0 6%;
    overflow: hidden;
}

.proftrav-hover{
	display: block;
	position: absolute;
	bottom: 10px;
	left: 30px;
}

.proftrav-author{
	display: block;
	transform: translateY(-150%);
	transition: 1.5s;
    position: absolute;
    bottom: 27px;
    left: 30px;
}

.proftravlbo-author {
    position: absolute;
    bottom: 90px;
    left: 30px;
}

#proftravlbo .proftravblogimg {
    width: 100%;
    height: 196px;
    border-radius: 15px;
    box-shadow: 3px 4px 19px 0px #4f4f4f;
}


/*
/*
/*
/*
profile-member page style
*/

.aboutmember{
	padding: 0px;
}

.editsvg {
    padding: 2px;
    right: 0px;
}
.destitexthead{
    max-width: 100%;
    align-self: center;
    margin-top: 50%;
}
.mobpackage{
		display: block;
		margin-top: 15%;
}

#packagepgcarousel{
	display: none;
}
