@import "https://fonts.googleapis.com/css?family=Raleway";




#contactForm { 
  display: none;
  
  padding: 2em;
  width: 400px;
  text-align: center;
  background: #fff;
  position: fixed;
  top:50%;
  left:50%;
  z-index: 99;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%)
  
}
  .middlebar{
    padding-left: 5%;
    padding-right: 5%;

  }

 input[type=text] { 
  margin: .8em auto;
  font-family: inherit; 
  text-transform: inherit; 
  font-size: inherit;
  
  display: block; 
  width: 280px; 
  padding: .4em;
} 
textarea { height: 80px; resize: none; }

/* .formBtn { 
  width: 140px;
  display: inline-block;
  background: teal;
  color: #fff;
  font-weight: 100;
  font-size: 1.2em;
  border: none;
  height: 30px;
} */