body{
	margin: 13%;
}

h1, h2, h3, h4, h5, h6{
    font-family: josefin_sansbold;
    font-weight: bold;
    padding: 0px 4%;

}

h1{
    font-size: 48px;
}

.h1small{
    font-size: 22px;
}

h2{
    font-size: 36px;
}

h3{
    font-size: 24px
}

h4{
    font-size: 16px;
}

p{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: medium;

}

.psmall{
    font-size: 14px;
}

h5{
    font-size: 14px;
}

h6{
    font-size: 12px;
}

/*signin*/
#signinarea{
	      position: relative;
	      top: 150px;
}
	.signin
	 {
		top: 10px;
	} 
	.login{
		float: left;
		margin-top:10px;
	}
	.pro{
		margin-left: 20px;
		top: 0px;
		fill:#808080;
		height: 200px;
		width: 220px;
	}
	.social{
		fill:#808080;
		margin: 5px;
		height: 25px;
		width: 25px;
	}
	.login li{
		display: inline-block;
		text-decoration: none;
		margin:5px;	
	}
	hr{
		background-color: black;
	}
	.head{
		color: black;
		float: right;
		margin-top: 50px;
		text-align: left;
	}
	.head h6{
		color: red;
	}
	.head ul{
		display: inline-block;
		float: left;
		font-size:12px;
	}
	.head li{
		display: inline-block;
		text-decoration: none;
		margin: 40px 100px 30px -20px;
	}
	.head p{
		float: left;
		margin-left: 0px;
		margin-top:10px;
		font-size: 16px;
	}
	.head p b{
		color: red;
	}
	.head form input{
		height: 40px;
		width: 100%;
		background-color: #F5F5F5;
		border:2px solid transparent;
		border-radius: 10px;
	}
	@media only screen and (max-width: 600px) {
		.pro{
			margin-left: 50px;
			top: 0px;
			fill:#808080;
			height: 200px;
			width: 220px;
		}
		.social{
			fill:#808080;
			margin-left: 10px;
			height:25px;
			width: 25px;
		}
		.head{
			color: black;
			float: right;
			margin-top: 50px;
			text-align: center;
			margin-left: 20px;
		}	
		.head ul{
		display: inline-block;
		float: left;
		font-size:16px;
		text-align: left;
		}
		.head li{
			display: inline-block;
			text-decoration: none;
			margin: 40px 30px 30px -50px;
		}
	}
	::placeholder{
		color: black;
	}
/*end signin*/

/*filterarea*/
#filterarea{
	position: relative;
	top: 150px;
}
	.Travelogue{
		float: left;
		font-size: 24px;
		text-align: center;
		margin-top: 10px;
	}
	.Travelogue::after {
		content: "";
		display: inline;
		height: 40px;
		width: 1px;
		background-color: black;
		position: absolute;
		right: 0px;
		top: 5px;
	}
	.bookmark{
		float: left;
		font-size: 24px;
		text-align: center;
		margin-top: 10px;
	}
	.bookmark::after{
		content: "";
		display: inline;
		height: 40px;
		width: 1px;
		background-color: black;
		position: absolute;
		right: 0px;
		top: 5px;
	}

	.right1{
		float: right;
		margin-top: 10px;
		height: 100%;
		width: 100%;
	}
	.right2{
		float: right;
		margin-top: 10px;
		width: 100%;
	}

	.right1 select{
		font-size: 24px;
		background-color: #E8E8E8;
		border:1px solid transparent;
		border-radius: 8px;
		height: 40px;
		width: 200px;
		margin: 5px;
		text-align: center;
		float: right;
	}
	.right2  select{
		font-size: 24px;
		background-color: #E8E8E8;
		border:1px solid transparent;
		border-radius: 8px;
		height: 40px;
		width: 200px;
		margin: 5px;
	}
	@media only screen and (max-width: 600px){
		.Travelogue{
			float: left;
			font-size: 18px;
			text-align: left;
			margin-top: 10px;
			background-color:pink;

		}
		.Travelogue::after{
			display: none;
		}
		.bookmark{
			float: right;
			font-size: 18px;
			text-align: right;
			background-color: yellow;
			width: 50%;
		}
		.bookmark::after{
			display: none;
		}
		.right1{
			background-color: gray;
			float: left;
			margin-top: 10px;
			height: 100%;
		}
		.right2{
			background-color: green;
			float: right;
			margin-top: 10px;
		}
		.right1 select{
			font-size: 12px;
			background-color: #E8E8E8;
			border:1px solid transparent;
			border-radius: 8px;
			height: 20px;
			width: 50px;
			margin: 5px;
			text-align: center;
			float: left;
		}
		.right2  select{
			font-size: 12px;
			background-color: #E8E8E8;
			border:1px solid transparent;
			border-radius: 8px;
			height: 20px;
			width: 50px;
			margin: 0px;
			float: right;
		}
	}

/*end filterarea*/

/*galrow1*/
	img{
		border-radius: 2px solid transparent;
		border-radius: 5px;
	}

	.one{
		height: 300px;
		width: auto;
		position: absolute;
	}
	.onea{
		position: relative;
		top:-60px;
		left: 10px;
	}

	.two{
		height: 300px;
		width: auto;
		position: absolute;
	}
	.three{
		height: 300px;
		width: auto;
		position: absolute;
	}

/*end galrow1*/

/*galrow2*/
	.four{
		top:10px;
		position: absolute;
		float: left;
		height: 200px;
		width: auto;
	}
/*end galrow2*/


/*blogrows*/
.blogrows{
	position: relative;
	top: 150px;
}
	.thumbnail{
		position: absolute;
		top: 150px;
		 margin-top: 20px;
		 height: 200px;
		 width: auto;
	}
	.thumbnail img{
		border:2px solid trasparent;
		 border-radius: 10px;
	}
	.thumbnail1{
		position: absolute;
		top: 500px;
		 margin-top: 20px;
		 height: 200px;
		 width: auto;
	}
	.thumbnail1 img{
		border:2px solid trasparent;
		 border-radius: 10px;
	}
/*end blogrows*/

/*galrow3*/
	.oneA{
		padding: 3px;
		position:absolute;
		top:900px;
		float: left;

	}
	.twoA{
		padding: 3px;
		position: absolute;
		top:900px;
		float: left;
	}
	.threeA{
		padding: 3px;
		position:absolute;
		top:900px;
		float: right;
	}
/*end galrow3*/

/*galrow4*/
	.fourA{
		top:850px;
		position: absolute;
		float: left;
		height: 200px;
		width: auto;
	}
/*end galrow4*/


/*blogrows*/
	.thumbnail2{
		position: absolute;
		top: 50px;
		 margin-top: 20px;
	}
	.thumbnail2 img{
		border:2px solid trasparent;
		 border-radius: 10px;
	}
	.small{
		position: relative;
		top:-60px;
		left: 10px;
	}

	.thumbnail3{
		position: absolute;
		top: 400px;
		 margin-top: 20px;
	}
	.thumbnail3 img{
		border:2px solid trasparent;
		 border-radius: 10px;
	}
	.thumbnail4{
		position: absolute;
		top: 800px;
		 margin-top: 20px;	 
	}
	.thumbnail4 img{
		border:2px solid transparent;
		 border-radius: 10px;
	}
/*end blogrows*/

