<div class="col-6 middlebar">
    <p>
        f the sun, sand, sea, and seafood, Goa has a lot to offer to its visitors beyond the beaches. From
        delightful churches to the white sand beaches, and from buildings that mirror the Portuguese
        architecture to well-known beach shacks, no other place can outperform the appeal of Goa when it
        comes to the laid-back, lazy and lovely lifestyle.
    </p>

    <p style="text-align: center;">
        <b>
            In addition, if at all there is something that adds the cherry on top to a perfect Goan
            experience, it has to be the <a href="http://journeys.jetsavetours.in/A-Relaxed-Week-in-Goa">
                amazing cafes in Goa. </a>
        </b>
    </p>

    <p>
        <i>
            Be it fresh creamy prawns or the hot-piping Nutella pancakes, it is a must for every traveler to
            treat their taste buds to the scrumptious food of this paradise at these 7 amazing cafes and
            restaurants.
        </i>
    </p>

    <p>
        These cafes will astound you with their moist oozy chocolate cake, a molten liquid core that oozes
        out when you delve into it.<b> Goa is the ideal place to try out the best and most sophisticated
            dishes
            to satisfy your palette. </b> Just imagine being sprinkled with a few drops of seawater, while
        you sit
        and eat up the best croissant – close by the most amazing sight of the beach, ahhhh lovely!
        Regardless of whether you are a fan of relaxing brunches, someone who enjoys a snappy nibble in the
        middle of shopping or simply loves a late evening cream tea, Goa has the café and restaurant to suit
        your mood. <a href="http://journeys.jetsavetours.in/A-Relaxed-Week-in-Goa"> Book Your Goa Trip With
            Your Gang Now. </a>
    </p>

    <p style="text-align: center;">
        <b>
            If the idea of sitting on a rocking chair, with the beach in the backdrop, a mojito to get you
            tipsy
            and a book to please you, head to Goa and take your pick at some of our favorite cafés that you
            must
            visit with your friends at least once!
        </b>
    </p>
    <br>
    <h3 style="color: black; text-align: center;">
        1|<br>
        Olive Bar & Kitchen
    </h3>

    <img src="https://i0.wp.com/www.curiouskeeda.com/wp-content/uploads/2019/12/Olive-Bar-Goa-Restaurant-Curiouskeeda.jpg?resize=640%2C360&ssl=1"
        width="100%" height="auto"><br><br>

    <p> <i> Walk into Olive Goa and you will tread down a pretty garden path that leads to a bucket of
            electric-blue flip-flops in all sizes. A sign above the container says: “Kick Off Your Heels”.
            This is your first impression, and it is a lasting one. This is Goa by way of Santorini—white
            walls, wooden tables and rattan furniture accentuated by striped blue cushions. A blooming
            garden gives the setting to the indoor segment while the breezy in the open-air region sitting
            above Vagator beach has more tables and jute loungers.</i>
        <br> <br>
        The Mediterranean-themed menu builds on Olive’s solid reputation for taste but also nods at Goa’s
        culinary heritage. The wooden bar is the focal point of the café and it is their art mixed drinks,
        which will draw the biggest crowd. It is deeply refreshing, with the sea breeze in the hair and the
        sun setting into the sea.
    </p>

    <p style="text-align: center;">
        <b>
            <font size="5"> Location:
        </b> Unit No. 1, Vagator Helipad, Big Vagator,<br> Anjuna, Bardez, Goa.
        <font size="4">
            <br>
            <b>
                Price for two: </b> ₹ 2000

            <br>
            <b> Open: </b> 12:00 PM – 12:00 AM </h3>
        </font>
    </p>
    <br>
    <h3 style="color: black; text-align: center;">
        2|<br>
        Thalassa
    </h3>

    <img src="https://i0.wp.com/www.curiouskeeda.com/wp-content/uploads/2019/12/restuarant-Goa-Curiouskeeda-Jetsave-view.png?resize=640%2C403&ssl=1"
        width="100%" height="auto"><br><br>

    <p>
        The Thalassa lets you enjoy Goa at its fullest. The place promises to treat you to the most stunning
        sunsets in Goa, and the location is where the river meets the sea. Ocean breeze in your hair and
        sunset views to bite the dust for.<br> Couples and families are regularly seen unwinding on the cane
        seats, looking at the radiant nightfall. One of the delights of feasting at Thalassa is their
        brilliant menu of Greek and Mediterranean food, to be appreciated right beside the glorious Arabian
        Sea. Throwback some mimosas to accompany the appetizers like calamari meatballs, village bruschetta,
        grilled prawns skewers, and steamed mussels in ouzo sauce. To give your sweet tooth a kick settle on
        Thalassa’s rich velvety cheesecakes to handcrafted Greek yogurt.<br> Holding true with the Greek
        convention the exteriors of Thalassa is done totally in white tone, which looks the Mediterranean
        against the setting of the lovely blue Arabian Sea. Try to sit nearest to the edge so you can get an
        eyeful of the stunning view.
    </p>
    <br>
    <p style="text-align: center;">
        <b>
            <font size="5"> Location:
        </b> Location: Plot 301/1, Near Teso Waterfront, Siolim, Goa </font>
        <font size="4">
            <br>
            <b>
                Price for two: </b> ₹ 2000

            <br>
            <b> Open: </b> 08:30 AM – 01:00 AM </h3>

        </font>
    </p>
    <br>
    <h3 style="color: black; text-align: center;">
        3|<br>
        Antares Restaurant & Beach Club
    </h3>

    <img src="https://i0.wp.com/www.curiouskeeda.com/wp-content/uploads/2019/12/Antares-Restaurant-Curiouskeeda-Jetsave.jpg?w=550&ssl=1"
        width="100%" height="auto"><br><br>

    <p>
        An architectural showpiece with awe-inspiring views of the Indian Ocean and the perfect spot for
        people to watch the sunset in the afternoon and experience casual dining. With a refreshing lack of
        noisy tourists and regular party music, the place is just the way we all like our dining places.
        Given that, the famed Masterchef Australia contestant, Sarah, personally designs seasonal menus,
        it’s no surprise that the dishes are on point. The cuisines here are quite simple; fresh
        ingredients, exotic flavors, classic cooking techniques with an injection of flavor through a
        charcoal grill. Chalk it down to culinary mastery yet Australian flavors meet up flawlessly with
        local ingredients and the outcome is absolutely exceptional. The main objective of the café is to
        make a little bit of Australia in this beach heaven.
    </p>

    <p style="text-align: center;">
        <b>
            <font size="5"> Location:
        </b> Small Vagator Beach, Ozran, Vagator, Goa </font>
        <font size="4">
            <br>
            <b>
                Price for two: </b> ₹ 2000

            <br>
            <b> Open: </b> 12:00 PM – 12:00 AM </h3>
        </font>
    </p>
    <br>
    <h3 style="color: black; text-align: center;">
        4|<br>
        Eva Café
    </h3>

    <img src="https://i0.wp.com/www.curiouskeeda.com/wp-content/uploads/2019/12/eva-cafe-ck-1.png?resize=605%2C420&ssl=1"
        width="100%" height="auto"><br><br>

    <p>
        Striking a perfect balance between the sun, sand, sea, and the sky, Eva Cafe is a delightful little
        heaven on the coast of Anjuna Beach. Be it the hypnotizing sunset views, the flavorful food, or the
        breezy ambiance, this white paradise is surely the best bistro in Goa that offers the best of
        everything.<a href="http://journeys.jetsavetours.in/A-Relaxed-Week-in-Goa"> Book your goa trip with
            your gang now. </a>
    </p>

    <p style="text-align: center;">
        <b>
            <font size="5"> Location:
        </b> 129/45, Anthony Street, Dmello Vaddo, Anjuna, Goa </font>
        <font size="4">
            <br>
            <b>
                Price for two: </b> ₹ 800

            <br>
            <b> Open: </b> 9:00 AM – 9:00 PM </h3>
        </font>
    </p>
    <br>
    <h3 style="color: black; text-align: center;">
        5|<br>
        Baba Au Rhum
    </h3>

    <img src="https://i2.wp.com/www.curiouskeeda.com/wp-content/uploads/2019/12/restuarant-Goa-Curiouskeeda-Jetsave.png?resize=640%2C335&ssl=1"
        width="100%" height="auto"><br><br>

    <p>
        Baba Au Rhum’s natural, friendly ambiance steals the show, but the food is also excellent. Their
        crisp plates of mixed greens, baked luxuries, sandwiches, pizzas, cheeseburgers, and fresh squeezes
        are magnificent, without a doubt. Must-try dishes incorporate the wood-fired pizza, lemon tart,
        Mille feuilles cake, French bread and croissants.
    </p>

    <p style="text-align: center;">
        <b>
            <font size="5"> Location:
        </b> 1054, Sim Vaddo, Anjuna, Goa </font>
        <font size="4">
            <br>
            <b>
                Price for two: </b> ₹ 1000

            <br>
            <b> Open: </b> 09:00 AM – 5:00 PM , 6:00 PM – 10:30 PM </h3>
        </font>
    </p>
    <br>
    <h3 style="color: black; text-align: center;">
        6|<br>
        La Plage
    </h3>

    <img src="https://i0.wp.com/www.curiouskeeda.com/wp-content/uploads/2019/12/La-plage-Goa-Restaurant-Curiouskeeda-Jetsave.jpg?resize=640%2C360&ssl=1"
        width="100%" height="auto"><br><br>

    <p>
        La Plage is undoubtedly one of the most stylish shack vibe cafés serving best French fusion/French
        food in North Goa. Try not to let the casual air of the palm trees and simple white tables of this
        down-to-earth shack fool you. It serves brilliant French food just as soothing burgers and grills.
        In this chic beachside café, you will generally spot a wide scope of clientèle including
        international tourists, jet setters, and some of the time VIPs. This is among the first Ashvem Beach
        cafés and the food here is divine, just like the climate. Their must-try and not-to-be-missed
        specialties includes chocolate Thali, Chicken Pate with Onion “Jam”, Seared Tuna with Wasabi Mashed
        Potatoes. A lot of deck seats, finger-licking French food, and delicate jazz or varied hip-hop music
        make this spot one of a handful of places where you really need to reserve in advance.
    </p>

    <p style="text-align: center;">
        <b>
            <font size="5"> Location:
        </b> Aswem Beach, Near Papa Jolly Hotel, Aswem Road, Morjim, Arambol, Goa </font>
        <font size="4">
            <br>
            <b>
                Price for two: </b> ₹ 1000

            <br>
            <b> Open: </b> 09:00 AM – 5:00 PM , 6:00 PM – 10:30 PM </h3>
        </font>
    </p>
    <br>
    <h3 style="color: black; text-align: center;">
        7|<br>
        Waters Beach Lounge & Grills
    </h3>

    <img src="https://i2.wp.com/www.curiouskeeda.com/wp-content/uploads/2019/12/Crazy-Wanderer-Goa-Curiouskeeda-Jetsave-image.png?resize=640%2C391&ssl=1"
        width="100%" height="auto"><br><br>

    <p>
        Overlooking the territory of seascape from the Cliffside in Vagator, Waters Beach Lounge and Grill
        has staggered decked porches cut out of the stone, each bragging all-encompassing views of the
        ocean. Cocktails are the star of this place especially the strawberry margaritas and LIITs. This
        place is just perfect ideal for a sundowner, and you can enjoy it with drinks and their amazing
        wood-fired pizzas.
    </p>

    <p style="text-align: center;">
        <b>
            <font size="5"> Location:
        </b> Plot 18, Ozran Beach, Vagator, Goa</font>
        <font size="4">
            <br>
            <b>
                Price for two: </b> ₹ 1800

            <br>
            <b> Open: </b> 4:00 PM – 04:00 AM </h3>
        </font>
    </p>
    <br>
    <p style="text-align: center;"> 
        <b>
        Drooling already? Well, don’t. Plan your trip to this heavenly destination with your friends with
        Jetsave India and enjoy the culinary culture of Goa. Enjoy the international ambiance of these
        places combined with the appeal of interiors and exteriors making for an unforgettable experience!
        <br> <br>

        Happy Dining! </b> </p>




</div>